{% load static %}

body {
  margin: 0px;
  color: #000000;
  font-size: 18px;
  font-family: 'Crimson Text', serif;
  background-color: #FFFFFF;
  border-color: #DDD;
  overflow-y: scroll;
  overflow-x: hidden;
}
body.dark-mode {
  background-color: #404654;
  border-color: #a7adbb;
  color: #a7adbb;
}
body * {
  transition: all 0.3s ease;
  background-color: inherit;
  border-color: inherit;
  color: inherit;
}

a {
  color: inherit;
  outline: inherit;
  text-decoration: inherit;
  border-bottom: 0.2em dotted #63B7E6;
}

form *:not(a) {
  display: block;
}
form li {
  list-style-type: none;
}
form li:not(:first-of-type) label {
  margin-top: 1em;
}
input, textarea {
  border: none;
  padding: 0.5em 1em;
  outline: 1px solid #ddd;
  color: #A2A2A2;
  font-family: 'Raleway', sans-serif;
}
.dark-mode input, .dark-mode textarea {
  outline-color: #a7adbb;
}
input[type="file"] {
  width: 15em;
}
label {
  margin-bottom: 0.5em;
  font-family: 'Playfair Display', serif;
}
.helptext {
  color: #A2A2A2;
  font-style: italic;
  font-size: 0.9em;
  font-family: 'Raleway', sans-serif;
  margin: 0.5em 1em;
}
.dark-mode .helptext {
  color: #a7adbb;
}
.helptext ul {
  padding-left: 0px;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.disabled {
  color: #A2A2A2;
}
.clickable {
  cursor: pointer;
}
.right {
  float: right;
}

.alert {
  padding: 0.5em;
  color: rgb(0, 163, 44);
  background-color: rgba(4, 222, 63,0.2);
  margin-bottom: 1em;
  text-align: center;
}

.button, button {
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 0.5em! important;
  border-bottom-color: inherit;
  font-family: 'Raleway', sans-serif;
  color: #888;
}
.dark-mode .button, .dark-mode button {
  color: #a7adbb;
}

.card {
  padding: 2em;
}
.card.special {
  border: none;
  background-color: rgba(4, 222, 63,0.2);
}
.card.special, .card.special * {
  color: rgb(0, 163, 44)! important;
}
.card.special .header {
  border-color: rgb(0, 163, 44, 0.5)! important;
}
.card.margin-bottom {
  margin-bottom: 2em;
}

.header {
  display: grid;
  grid-template:
    "heading"
    "subheading"
    / auto;
  place-items: center start;
  padding-bottom: 1em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-bottom: 1em;
}
.header .heading {
  grid-area: heading;
}
.header .subheading {
  grid-area: subheading;
}

.list-box {
  max-height: 15em;
  overflow-y: auto;
}
.list-box .list-item {
  display: inline-block;
  margin: 0em 0.5em 0.5em 0em;
}

.infobox {
  word-break: break-all;
  margin-bottom: 1em;
}

.profile-pic {
  height: 5em;
  width: auto;
  border-radius: 50%;
}

.decision-box {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
}

.date {
  font-size: 0.9em;
}

.date, .subheading, .read-more {
  color: #999;
  font-family: 'Raleway', sans-serif;
}
.dark-mode .date, .dark-mode .subheading, .dark-mode .read-more {
  color: #a7adbb;
}
.heading, legend {
  font-size: 3em;
  font-family: 'Playfair Display', serif;
}
p, span, .card.special *, i, a {
  background-color: transparent;
}
.post .header .heading a, .paginator a, .tag a {
  border-bottom: none;
}
.button, button, fieldset, .card, .sidebar .sidebar-tab {
  border-width: 1px;
  border-style: solid;
  border-radius: 0.3em;
}

/* ========================================================================== */

.navbar-box {
  z-index: 10;
  position: sticky;
  padding: 0em 4em;
  top: 0;
}
.navbar {
  padding: 1em 0em;
  display: grid;
  align-items: center;
  justify-content: space-between;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  letter-spacing: 0.1em;
}
.navbar * {
  text-align: center;
}
.navbar .website-icon {
  grid-area: icon;
  height: 4.5em;
  width: auto;
}
.dark-mode .navbar .website-icon {
  opacity: 0.7;
}
.navbar .expand-btn {
  grid-area: expand-btn;
}
.navbar .navbar-button {
  padding: 0em 2em;
}
.navbar-hidden {
  display: block !important;
}

.sidebar {
  grid-area: sidebar;
  position: sticky;
  top: 8.6em;
  overflow: hidden;
}
.sidebar .header {
  grid-area: header;
}
.sidebar .information {
  grid-area: information;
  display: grid;
  grid-template:
    "latest"
    "announcement"
    / auto;
  grid-row-gap: 0.5em;
  line-height: 1.5em;
}

.page {
  padding: 2em 4em;
  display: grid;
  grid-column-gap: 4em;
  place-items: start stretch;
}
.page .alert {
  grid-area: alert;
}
.page .content .posts, .page .content .announcements {
  display: grid;
  grid-template:
    "post"
    / auto;
  grid-row-gap: 2em;
  grid-auto-rows: auto;
}

.search-bar {
  padding: 1em;
  display: grid;
  grid-template:
    "search-box submit-button"
    / 1fr auto;
  margin-bottom: 1em;
}
.search-bar input {
  padding: 0em 2em;
  outline: none;
}
.search-bar button {
  border: none;
}

.paginator {
  text-align: center;
  margin-bottom: 1em;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  padding: 0.5em;
}
.paginator a {
  padding: 0em 0.4em;
}
.paginator .current {
  border-radius: 0.3em;
  background-color: #000;
  color: #FFF;
}
.dark-mode .paginator .current {
  background-color: #e2e3e7;
  color: #404654;
}
.paginator:last-of-type {
  margin-top: 1em;
  margin-bottom: 0em;
}

.content {
  grid-area: content;
}

.post {
  padding: 4em;
}
.post .header {
  grid-template:
    "image heading"
    "image subheading"
    / auto 1fr;
  grid-column-gap: 1em;
}
.post .header img {
  grid-area: image;
}
.post p {
  text-align: justify;
}
.read-more {
  font-size: 0.9em;
}

.tag {
  font-size: 0.9em;
  font-family: 'Raleway', sans-serif;
  padding: 0.3em 0.5em;
  color: rgb(0, 163, 44);
  background-color: rgba(4, 222, 63,0.2);
  text-align: center;
}

.comment-box {
  display: grid;
  grid-template:
    "comment submit"
    / 1fr auto;
  grid-column-gap: 1em;
}

.comment {
  display: grid;
  grid-template:
    "author content date delete"
    / auto 1fr auto auto;
  grid-gap: 0.5em;
  padding: 1em 0em;
}
.comment:not(:last-of-type) {
  border-bottom: 1px dotted #DDD;
}
.comment .author {
  grid-area: author;
}
.comment .text {
  grid-area: content;
}
.comment .trash-icon {
  grid-area: delete;
  background: transparent! important;
  justify-self: end;
}

.new-post {
  position: fixed;
  bottom: 1em;
  right: 4em;
  display: inline-block;
  padding: 1em 1.3em;
  border-radius: 50%;
  color: rgb(0, 163, 44);
  background-color: rgba(4, 222, 63,0.2);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.profile {
  display: grid;
  grid-template:
    "image username"
    "image fullname"
    "image email"
    / auto 1fr;
  grid-column-gap: 1em;
}
.profile .profile-pic {
  grid-area: image;
}
.profile .username {
  grid-area: username;
}
.profile .name {
  grid-area: fullname;
}
.profile .email {
  grid-area: email;
}

.profile-form li:last-of-type {
  font-size: 0px;
}
.profile-form li:last-of-type label {
  font-size: 18px;
}

/* Only Large Screens */
@media only screen and (min-width: 999px) {
  .new-post i {
    animation-name: spin-reverse;
    animation-duration: 600ms;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .new-post:hover i {
    animation-name: spin;
  }
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(270deg);
      }
  }
  @keyframes spin-reverse {
      from {
          transform:rotate(270deg);
      }
      to {
          transform:rotate(0deg);
      }
  }
  .button:hover, button:hover {
    color: rgb(0, 163, 44);
    background-color: rgba(4, 222, 63,0.2);
  }
  .danger:hover {
  	color: rgba(243,41,41,1);
  	background: rgba(242, 38, 38, 0.2);
  }
  .navbar {
    grid-template:
      "btn1 btn2 icon btn3 btn4"
      / auto auto auto auto auto;
  }
  .navbar .navbar-button.announcements {
    display: none;
  }
  .navbar .navbar-button:hover {
    color: #A2A2A2;
  }
  .dark-mode .navbar .navbar-button:hover {
    color: #fff;
  }
  .navbar .expand-btn {
    display: none;
  }
  .page {
    grid-template:
      "alert alert"
      "content sidebar"
      / 7fr 3fr;
  }
  .sidebar .sidebar-tab {
    display: none;
  }
}
/* Landcape Tablets */
@media only screen and (max-width: 999px) {
  .danger {
  	color: rgba(243,41,41,1);
  }
  .navbar {
    grid-template:
      "icon expand-btn"
      / auto auto;
    justify-items: center;
  }
  .navbar .navbar-button:not(.expand-btn):first-of-type {
    margin-top: 1em;
  }
  .navbar .navbar-button:not(.expand-btn) {
    display: none;
    grid-column: 1 / -1;
  }
  .navbar .navbar-button:not(.expand-btn):not(:last-of-type) {
    padding-bottom: 0.5em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: 0.5em;
  }
  .sidebar {
    display: none;
  }
  .page {
    grid-template:
      "alert"
      "content"
      / auto;
  }
  .new-post {
    right: 1em;
  }
}
/* Portrait Tablets */
@media only screen and (max-width: 700px) {
  .navbar-box {
    padding: 0em 1em;
  }
  .page {
    padding: 1em;
  }
  .header {
    text-align: center;
    justify-items: center;
  }
  .profile {
    grid-template:
      "image"
      "username"
      "fullname"
      "email"
      / auto;
    justify-items: center;
    text-align: center;
  }
  .post .header {
    grid-template:
      "image"
      "heading"
      "subheading"
      / auto;
  }
  .comment-box {
    grid-template:
      "comment"
      "submit"
      / auto;
    grid-row-gap: 0.5em;
  }
  .comment {
    grid-template:
      "author delete"
      "content content"
      "date date"
      / auto auto;
  }
}
/* Mobiles */
@media only screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
  .card {
    padding: 1em;
  }
}
