/* GLOBAL */
body {
	margin: 0;
	padding: 0;
	font-size: 20px;
	background: white;
	font-family: 'Cormorant Garamond', serif;
	transition: 0.3s ease;
}


/* LINKS */

a {
	outline: none;
	color: #729fcf;
	word-break: break-all;
}

a:visited {
	color: #333;
}

a.unformatted {
	color: inherit;
	text-decoration: none;
}


/* OFFSET ANCHOR */

.anchor{
	visibility: hidden;
}


/* PARAGRAPHS & TEXT */

p, .text {
	line-height: 1.7em;
	text-align: justify;
}

.preserve-linebreaks {
	white-space: pre-line;
}

/* FORMS & FORM ELEMENTS */

form>* {
	display: block;
}

form>label {
	margin-bottom: 0.5em !important;
}

form ul {
	padding: 0;
}

form ul.errorlist li {
	font-size: 0.7em;
	font-weight: 600;
	color: #f32929;
	padding: 0.8em 1em;
	text-align: center;
	border-radius: 1em;
	list-style-type: none;
	background: rgb(242, 38, 38, 0.2);
	font-family: 'Montserrat Alternates', sans-serif;
}

label {
	color: #333;
	font-size: 0.7em;
	font-weight: 700;
	font-family: 'Montserrat Alternates', sans-serif;
}

.button, input, textarea {
	padding: 1em;
	color: #333;
	outline: none;
	font-size: 0.7em;
	border-radius: 1em;
	border: #eaeaea solid 1px;
	-webkit-tap-highlight-color: transparent;
	font-family: 'Montserrat Alternates', sans-serif;
}

input {
	min-width: 0;
}

textarea {
	width: 100%;
	height: 100%;
	resize: vertical;
	line-height: 1.7em;
	box-sizing: border-box;
}

fieldset {
	margin: 0;
	min-width: 0;
	overflow: auto;
}

.button {
	cursor: pointer;
	font-weight: 600;
	background: white;
	white-space: nowrap;
	display: inline-block;
	transition: 0.2s ease;
	text-decoration: none;
}

.button * {
	color: #333;
}

.button.small {
	font-size: 0.65em;
	padding: 0.8em;
}

.button.minimal {
	border: none;
	font-size: 0.6em;
	padding: 0.2em 0.5em;
}

.button.danger {
	color: #f32929 !important;
	border-color: #f32929;
}

.button[disabled], .button.disabled, input.disabled {
	color: #999 !important;
	border-color: #eaeaea !important;
	background: white !important;
	pointer-events: none;
	cursor: default;
}

input[type="checkbox"] {
	opacity: 0;
}

input[type="checkbox"]:not(:checked), input[type="checkbox"]:checked {
	position: absolute;
}

input[type="checkbox"]:not(:checked)+label, input[type="checkbox"]:checked+label {
	cursor: pointer;
	position: relative;
	padding: 0.1em 0 0.1em 2em;
}

input[type="checkbox"]:not(:checked)+label:before, input[type="checkbox"]:checked+label:before {
	top: 0;
	left: 0;
	content: '';
	position: absolute;
	background: white;
	border-radius: 0.5em;
	transition: 0.2s ease;
	border: #ddd solid 2px;
	width: 1.25em;
	height: 1.2em;
}

input[type="checkbox"]:not(:checked)+label:after, input[type="checkbox"]:checked+label:after {
	top: 0;
	left: 0.22em;
	color: #333;
	font-size: 1.3em;
	position: absolute;
	transition: all 0.2s;
	content: '\2713\0020';
	font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}

input[type="checkbox"]:not(:checked)+label:after {
	opacity: 0;
	transform: scale(0);
}

input[type="checkbox"]:checked+label:after {
	opacity: 1;
	transform: scale(1);
}

input[type="file"] {
	display: none;
}

.form-freetext {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 0.7em;
	color: #999;
}


/* HEADER & HEADER ELEMENTS */

.header {
	max-width: 100%;
	overflow-x: auto;
	text-align: center;
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eaeaea;
}

.heading {
	color: #333;
	font-size: 3.3em;
	font-weight: 500;
	margin: 0.1em 0;
	font-variant: small-caps;
}

.subheading {
	font-family: 'Montserrat Alternates', sans-serif;
	letter-spacing: 0.05em;
	font-size: 0.8em;
	color: #999;
}


/* GENERIC CONTAINERS */

.dual-option-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.list-box {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 0 -0.5em -0.5em 0;
}

.list-box.nowrap {
	padding: 0.3em 0;
	overflow: auto;
	max-width: 100%;
	flex-wrap: nowrap;
	position: relative;
}

.list-box.nowrap::before, .list-box.nowrap::after {
	top: 0;
	opacity: 0;
	content: "";
	height: 2em;
	position: sticky;
	transition: 0.1s ease-out;
}

.list-box.nowrap::before {
	left: 0;
	min-width: 2em;
	margin-right: -2em;
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9009803750601804) 30%, rgba(255,255,255,0.8029411593739058) 50%, rgba(255,255,255,0) 100%);
}

.list-box.nowrap::after {
	right: 0;
	min-width: 2em;
	margin-left: -2em;
	background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9009803750601804) 30%, rgba(255,255,255,0.8029411593739058) 50%, rgba(255,255,255,0) 100%);
}

.list-box.nowrap.blur-left::before, .list-box.nowrap.blur-right::after {
	opacity: 1;
}

.list-box>* {
	margin: 0 0.5em 0.5em 0;
}

.vertically-space-items>*:not(:last-child) {
	margin-bottom: 2em;
}

.vertically-space-items>*:not(:last-child).closer-below {
	margin-bottom: 1em;
}

.input-bar {
	display: flex;
}

.input-bar .input-box {
	flex-grow: 1;
	margin-right: 1.5em;
}

.right-align-container {
	text-align: right;
}


/* CARDS */

.card {
	border: #eaeaea solid 1px;
	border-radius: 0.5em;
	padding: 4em;
}

.card.special {
	border: none;
	background: rgb(4, 222, 63, 0.2);
}

.card.special * {
	color: #00a32c;
}

.card.special .header {
	text-align: left;
	border-color: rgb(0, 163, 44, 0.5);
}

.card.compact {
	padding: 2em;
}

fieldset.card {
	padding: 2em 4em 3em 4em;
}

fieldset.card.compact {
	padding: 1em 2em 2em 2em;
}


/* GENERIC PROPERTIES */

.clickable {
	cursor: pointer;
}

.unselectable {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

::selection {
	background: #ccf9d8;
}

 /* PAGE LOADING OVERLAY */

#loading-overlay {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 4;
	opacity: 0;
	display: none;
	position: fixed;
	background: white;
	align-items: center;
	justify-content: center;
	transition: 0.5s ease;
}

svg.tea {
	--secondary: #333;
}

svg.tea #teabag {
	transform-origin: top center;
	transform: rotate(3deg);
	animation: swing 2s infinite;
}

svg.tea #steamL {
	stroke-dasharray: 13;
	stroke-dashoffset: 13;
	animation: steamLarge 2s infinite;
}

svg.tea #steamR {
	stroke-dasharray: 9;
	stroke-dashoffset: 9;
	animation: steamSmall 2s infinite;
}

@keyframes swing {
	50% {
		transform: rotate(-3deg);
	}
}

@keyframes steamLarge {
	0% {
		stroke-dashoffset: 13;
		opacity: 0.6;
	}
	100% {
		stroke-dashoffset: 39;
		opacity: 0;
	}
}

@keyframes steamSmall {
	10% {
		stroke-dashoffset: 9;
		opacity: 0.6;
	}
	80% {
		stroke-dashoffset: 27;
		opacity: 0;
	}
	100% {
		stroke-dashoffset: 27;
		opacity: 0;
	}
}


/* MAIN CONTAINER CONTAINING NAVBAR, PAGE ETC. */

#main {
	margin: auto;
	max-width: 1800px;
	padding: 0 4em 2em 4em;
	transition: 0.3s ease;
}


/* NAVBAR */

.navbar {
	top: 0;
	z-index: 3;
	position: sticky;
	background: white;
	border-bottom: 1px solid #eaeaea;
}

.navbar .links-container {
	display: grid;
	transition: 0.2s ease;
}

.navbar .links-container .banner {
	color: #333;
	font-weight: 500;
	grid-area: banner;
	font-variant: small-caps;
	text-shadow: 3px 3px 1px #ccc;
}

.navbar .links-container .link {
	color: #333;
	font-size: 0.7em;
	letter-spacing: 0.2em;
	font-family: 'Montserrat Alternates', sans-serif;
	transition: 0.3s ease;
}

.navbar .links-container .menu-btn {
	color: #333;
	line-height: 0;
	grid-area: menu;
	font-size: 1.3em;
	justify-self: end;
	margin-right: 0.5em;
	text-shadow: 2px 2px 1px #ccc;
	-webkit-tap-highlight-color: transparent;
	transition: 0.3s ease;
}

.navbar .progress-bar-container .progress-bar {
	width: 0%;
	max-width: 100%;
	padding: 0.1em 0;
	margin-bottom: -1px;
	background: #ccf9d8;
}


/* FEATURE IMAGE */

.feature {
	width: 100%;
	height: 19em;
	position: relative;
	border-radius: 0.5em;
}

.feature img {
	border-radius: 0.5em;
}

.feature:after {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	position: absolute;
	border-radius: 0.45em;
	transition: 0.3s ease;
}

.feature .overlay {
	top: 50%;
	z-index: 1;
	color: black;
	padding: 0.2em;
	font-size: 2.5em;
	overflow: hidden;
	position: absolute;
	background: white;
	border-radius: 0.15em;
	mix-blend-mode: screen;
	text-overflow: ellipsis;
	font-family: 'Montserrat Alternates', sans-serif;
	transition: 0.5s ease;
}

.attribution {
	color: #999;
	font-size: 0.6em;
	text-align: center;
	font-family: 'Montserrat Alternates', sans-serif;
}


/* MAIN PAGE CONTAINING CONTENT AND SIDEBAR */

.page {
	display: flex;
}


/* CONTENT */

.page .page-content {
	order: 1;
	flex: 3 1 0;
	min-width: 0;
}


/* SIDEBAR */

.sidebar {
	order: 2;
	top: 8em;
	z-index: 1;
	flex: 1 1 0;
	min-width: 0;
	padding: 0 2em;
	position: sticky;
	overflow: hidden;
	align-self: flex-start;
}

.sidebar .header .heading {
	margin-top: 0;
	text-shadow: 3px 3px 1px #ccc;
}

.sidebar label {
	font-size: 0.8em;
}

.sidebar .latest-post {
	margin-bottom: 0.5em;
}

.sidebar .latest-post {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sidebar .announcement:after {
	left: 0;
	bottom: 0;
	content: "";
	width: 100%;
	height: 10em;
	position: absolute;
	pointer-events: none;
	background: linear-gradient(0deg, rgb(255, 255, 255, 1) 0%, rgb(255, 255, 255, 0.5) 50%, rgb(255, 255, 255, 0.2) 100%);
}


/* ALERTS */

.alert {
	z-index: 3;
	margin: auto;
	display: flex;
	position: sticky;
	font-size: 0.7em;
	font-weight: 600;
	padding: 0.5em 1em;
	text-align: center;
	border-radius: 1em;
	align-items: center;
	font-family: 'Montserrat Alternates', sans-serif;
	transition: 0.3s ease-out;
}

.alert.success {
	color: rgb(0, 163, 44);
	background: rgb(4, 222, 63, 0.2);
}

.alert.error {
	color: #f32929;
	background: rgb(242, 38, 38, 0.2);
}

.alert .message{
	flex-grow: 1;
	overflow: hidden;
	margin: 0 0.2em 0 1.7em;
	text-overflow: ellipsis;
}

.alert .close {
	opacity: 0;
	padding: 0.5em;
	pointer-events: none;
	transition: 0.3s ease;
}

.alert.floating {
	background: white;
	box-shadow: 0 0 3px 3px rgb(0,0,0,0.1);
}


/* SEARCH */

.search-info {
	color: #888;
	text-align: right;
	font-size: 0.95em;
}


/* SOCIAL MEDIA SHARE BUTTONS */

.media-btn-container .button {
	width: 1em;
	margin-right: 0.7em;
	text-align: center;
}


/* ARTICLE NAVIGATION */

.article-navigation-btn-container {
	display: flex;
	grid-auto-flow: column;
	justify-content: space-between;
}

.article-navigation-btn-container a {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.article-navigation-btn-container a.next-post {
	direction: rtl;
	margin-left: 1em;
}


/* ARTICLE THUMBNAILS */

.article-thumbnail {
	height: 15em;
	margin-bottom: 2em;
	border-radius: 0.5em;
}

.article-thumbnail img {
	border-radius: 0.5em;
}


/* ARTICLE PREVIEWS IN ARTICLE LISTS */

.article-preview {
	overflow: hidden;
	max-height: 50em;
	position: relative;
}

.article-preview .fade {
	left: 0;
	bottom: 0;
	content: "";
	width: 100%;
	height: 15em;
	position: absolute;
	pointer-events: none;
	background: linear-gradient(0deg, rgb(255, 255, 255, 1) 30%, rgb(255, 255, 255, 0.50) 80%, rgb(255, 255, 255, 0) 100%);
}


/* TAGS */

.tag {
	color: #00a32c;
	position: relative;
	padding: 0.3em 0.6em;
	border-radius: 0.5em;
	text-decoration: none;
	background: rgb(4, 222, 63, 0.2);
	font-family: 'Cormorant Garamond', serif;
}

a.tag {
	color: #00a32c;
}

.tag::after {
	top: 5px;
	right: 5px;
	content: "";
	padding: 0.15em;
	border-radius: 50%;
	position: absolute;
	background: white;
}


/* COMMENTS */

.comments {
	font-size: 0.95em;
}

.comments ul {
	list-style-type: none;
	border-left: 2px solid #eee;
}

.comments>ul {
	padding: 0;
	border-left: none;
}

.comments ul li {
	margin: 1em 0;
}

.comments .comment>* {
	margin-bottom: 0.3em;
}

.comments .comment .info-container .date {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 0.65em;
	color: #999;
}

.comments .comment .content {
	line-height: 1.5em;
}

.comments .comment .comment-btn-container .button {
	margin-right: 0.5em;
}

.comments .comment .editor {
	display: none;
}

.comments .comment .editor button {
	float: right;
	margin-top: 0.9em;
}

.comments .comment .editor.reply button {
	margin-top: -3em;
}

.comments .comment .editor.reply textarea {
	margin-bottom: 3em;
}

.comments .new-comment-form {
	margin-top: 3em;
}


/* PAGINATOR */

.paginator {
	color: #333;
	text-align: center;
	font-family: 'Montserrat Alternates', sans-serif;
}

.paginator a {
	padding: 0 0.5em;
}

.paginator .current {
	width: 1.5em;
	height: 1.5em;
	margin: 0 0.2em;
	line-height: 1.5em;
	text-align: center;
	border-radius: 50%;
	background: rgb(4, 222, 63, 0.3);
}


/* FLOATING BUTTON IN BOTTOM RIGHT */

.floating-btn {
	z-index: 2;
	width: 2em;
	height: 2em;
	right: 0.7em;
	bottom: 0.5em;
	position: fixed;
	line-height: 2em;
	font-size: 1.6em;
	text-align: center;
	border-radius: 50%;
	background: rgb(4, 222, 63, 0.27);
	-webkit-tap-highlight-color: transparent;
	transition: 0.3s ease;
}

.floating-btn i {
	color: #00a32c;
}


/* TAGS SUGGESTION BOX IN ARTICLE FORMS */

#suggested_tags {
	display: none;
}


/* LARGE SCREENS ONLY */

@media only screen and (min-width: 1201px) {
	.anchor.offset {
		transform: translateY(-7em);
	}
	.alert.floating:hover > .close {
		opacity: 1;
		display: block;
		pointer-events: all;
	}
	.alert.floating .close:hover {
		color: #f32929;
	}
	.navbar .links-container a:not(.banner):hover {
		color: #999;
	}
	.navbar .links-container {
		padding: 1em 1em;
		place-items: center;
		grid-template: "link1 link2 banner link3 link4" / auto auto auto auto auto;
	}
	.navbar .links-container .menu-btn, .navbar .links-container .announcements-btn {
		display: none;
	}
	.navbar .links-container .banner {
		font-size: 3em;
	}
	.feature:after {
		background: rgb(0, 0, 0, 0.1);
	}
	.feature:hover:after {
		background: rgb(0, 0, 0, 0.2);
	}
	.feature .overlay {
		left: 5%;
		max-width: 50%;
		max-height: 80%;
		transform: translate(0%, -50%);
	}
	.feature .overlay:hover {
		color: white;
		background: transparent;
	}
	.attribution {
		margin-top: -1em;
	}
	.alert {
		top: 9em;
		width: 95%;
	}
	.button:hover {
		color: #00a32c;
		border-color: transparent;
		background: rgb(4, 222, 63, 0.2);
	}
	.button.danger:hover {
		background: rgb(242, 38, 38, 0.2);
	}
	label:hover:before {
		border: #333 solid 2px !important;
	}
	.floating-btn:hover {
		text-shadow: 3px 3px 3px rgb(0, 0, 0, 0.2);
		box-shadow: 0 0 3px 3px rgb(0, 0, 0, 0.1);
	}
	.floating-btn:active {
		transition: 0.1s ease-out;
		text-shadow: 0 0 0 rgb(0, 0, 0, 0.2);
		box-shadow: 0 0 0 0 rgb(0, 0, 0, 0.1);
	}
	.article.preview .fade {
		bottom: 4em;
	}
	.page .page-content {
		margin-right: 2em;
	}
}


/* LANDSCAPE TABLETS */

@media only screen and (max-width: 1200px) {
	.feature:active > .overlay {
		color: white;
		background: transparent;
	}
	.button:active {
		color: #00a32c;
		border-color: transparent;
		background: rgb(4, 222, 63, 0.2);
	}
	.button.danger:active {
		background: rgb(242, 38, 38, 0.2);
	}
	.anchor.offset {
		transform: translateY(-5em);
	}
	.alert.floating .close {
		opacity: 1;
		display: block;
		color: #f32929;
		pointer-events: all;
	}
	.navbar .links-container a:not(.banner):not(.menu-btn):active {
		color: #999;
	}
	.navbar .links-container {
		padding: 0.5em 0;
		place-items: center start;
		grid-template: "banner menu" "link1 link1" "link2 link2" "link3 link3" "link4 link4" / auto;
	}
	.navbar .links-container .link {
		display: none;
		grid-column: 1 / span 2;
		margin: 1em 0 0.5em 2em;
	}
	.navbar .links-container .banner {
		justify-self: start;
		font-size: 2.5em;
	}
	.navbar .links-container .menu-btn, .navbar.mobile-show .links-container .link {
		display: block;
	}
	.navbar.mobile-show .menu-btn {
		transform: rotate(-90deg);
		text-shadow: 0px 0px 0px #ccc;
	}
	.sidebar {
		display: none;
	}
	.feature .overlay {
		left: 50%;
		max-width: 80%;
		max-height: 80%;
		transform: translate(-50%, -50%);
	}
	.feature:after {
		background: rgb(0, 0, 0, 0.2);
	}
	.alert {
		top: 6.5em;
		width: 90%;
	}
	.floating-btn:active {
		transition: 0.1s ease-out;
		transform: scale(0.7);
	}
}


/* PORTRAIT TABLETS */

@media only screen and (max-width: 800px) {
	.vertically-space-items.responsive>*:not(:last-child) {
		margin-bottom: 1em;
	}
	.card {
		padding: 2em;
	}
	.card.compact {
		padding: 1em;
	}
	fieldset.card {
		padding: 1em 1.5em 1.5em 1.5em;
	}
	.floating-btn {
		right: 0.3em;
		bottom: 0.3em;
	}
	#main {
		padding: 0 1em 3em 1em;
	}
	.feature {
		height: 15em;
	}
	.feature .overlay {
		font-size: 2em;
	}
	.article-thumbnail {
		height: 8em;
	}
}


/* MOBILES */

@media only screen and (max-width: 600px) {
	.navbar .links-container .link {
		font-size: 0.75em;
	}
	.feature {
		height: 10em;
	}
	.heading {
		font-size: 2.2em;
	}
	fieldset .heading {
		font-size: 1.9em;
	}
	.input-bar .input-box {
		margin-right: 1em;
	}
	.article-preview {
		max-height: 40em;
	}
	.article-preview .fade {
		height: 11em;
	}
}