{% extends 'Blog/base.html' %}

{% block title %}Bad Request (400){% endblock %}

{% block content %}

<!-- HEADER -->
<div class="special card">
	<div class="header">
		<div class="heading">Bad Request</div>
		<div class="subheading">Our server seems not to want to process your request</div>
	</div>

	<!-- CONTENT -->
	<div class="text">
		Seeing as there's nothing that can really be done, Consider going <a href="{% url 'home' %}">home</a>, but if you're positive it's our problem, send us an email. 
	</div>
</div>

{% endblock %}