{% extends 'Blog/base.html' %}

{% block title %}404{% endblock %}

{% block content %}

<!-- HEADER -->
<div class="special card">
	<div class="header">
		<div class="heading">Permission Denied</div>
		<div class="subheading">We don't think you should be here.</div>
	</div>

	<!-- CONTENT -->
	<div class="text">
		Consider going <a href="{% url 'home' %}">home</a>, or if you think we're wrong, check your authentication details, clear your cookies, and if none of that works, send us an email. 
	</div>
</div>

{% endblock %}