{% extends 'Blog/base.html' %}

{% block title %}Permission Denied (403){% endblock %}

{% block content %}

<!-- HEADER -->
<div class="special card">
	<div class="header">
		<div class="heading">Permission Denied.</div>
		<div class="subheading">We don't think you should be here.</div>
	</div>

	<!-- CONTENT -->
	<div class="text">
		You're not the user you might think you are. If you have multiple accounts, 
		you probably signed into another account from another browser tab. Or you 
		just logged out of this one. Either way, just refresh the page, and if that 
		doesn't work, go <a href="{% url 'home' %}">home</a>, and come here again. 
	</div>
</div>

{% endblock %}