{% extends 'Blog/base.html' %}

{% block title %}Page Not Found (404){% endblock %}

{% block content %}

<!-- HEADER -->
<div class="special card">
	<div class="header">
		<div class="heading">If there ever was something here, it's gone.</div>
		<div class="subheading">We've never seen this place in our life. If we have, we've completely forgotten about it.</div>
	</div>

	<!-- CONTENT -->
	<div class="text">
		Consider going <a href="{% url 'home' %}">home</a>, using this link, or as you seem to prefer, 
		by manipulating the URL. If that isn't the case, and you've arrived here by some strange link, 
		it's probably safe to say that either the link is ancient, or at least the website has evolved. 
	</div>
</div>

{% endblock %}