{% extends 'Blog/base.html' %}

{% block title %}Page Not Found (404){% endblock %}

{% block content %}

<!-- HEADER -->
<div class="special card">
	<div class="header">
		<div class="heading">How is't yond thee has't cometh hither?</div>
		<div class="subheading">Strange paths, thee might not but has't taken to arrive in this lodging.</div>
	</div>

	<!-- CONTENT -->
	<div class="text">
		Consider going <a href="{% url 'home' %}">home</a>, using this link, or as you seem to prefer, by manipulating the URL.
		If that isn't the case, and you've arrived here by some strange link, it's probably safe to say that either the link is ancient, or at least the website has evolved. 
	</div>
</div>

{% endblock %}