{% load static %}

/* Generic ===============================================================*/
/* Global Styling */
body {
  margin: 0px;
  font-size: 18px;
  font-family: 'Crimson Text', serif;
  overflow-y: scroll;
  background-color: white;
  color: black;
  border-color: #BBB;
}
body * {
  background-color: inherit;
  border-color: inherit;
  color: inherit;
}
.dark-mode {
  background-color: #2D2E38;
  color: white;
  border-color: grey;
}

/* Links */
a {
  text-decoration: inherit;
  outline: inherit;
  color: inherit;
  border-bottom: 3px dotted #17a2ff;
}

/* Paragraphs */
p {
  white-space: pre-wrap;
}

/* Forms */
form li:not(:last-child){
  margin-bottom: 1em;
}
form *:not(a) {
  display: block;
}
legend {
  display: inline;
  font-family: 'Playfair Display', serif;
  padding: 0em 0.3em;
}
label {
  font-family: 'Playfair Display', serif;
}
input[type="file"] {
  font-size: 16px;
  width: 100px;
  padding: 0;
  margin-top: 0.5em;
}
input[type="checkbox"] {
  outline: 1px dashed grey;
}
input, textarea {
  font-size: 1em;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 0.5em 1em;
}

/* Styling Classes */
.clickable:hover {
  cursor: pointer;
}
.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.invert-color {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.right {
  float: right;
}

/* Common Styling */
#cke_id_content, fieldset, input, textarea, button, .button, .tag {
  border-style: dashed;
  border-width: 1px;
}
input, textarea, .helptext, .subheading, .date {
  color: grey;
}
.errorlist *, .special *, .new-post i, .subheading *, .tag * {
  background-color: transparent;
}


/* CKEditor */


/* Form Helptext */
.helptext {
  font-style: italic;
  font-size: 0.9em;
  list-style-type: none;
  padding: 0;
}
.helptext ul li {
  margin-bottom: 0em;
}
.helptext ul {
  padding: 0em;
}

/* Alerts */
.alert {
  padding: 0.5em;
  color: rgb(0, 163, 44);
  background-color: rgba(4, 222, 63,0.2);
  margin-bottom: 1em;
}
.errorlist {
  color: white;
  background-color: rgba(255,0,0,0.5);
  list-style-type: none;
  padding: 0.5em;
}

/* Cards */
.card {
  padding: 1em;
}
.special, .tag {
  border-color: rgb(0, 163, 44);
  background-color: rgba(4, 222, 63,0.2);
}
.special, .special *, .tag {
  color: rgb(0, 163, 44)! important;
}
.card.margin-bottom {
  margin-bottom: 2em;
}

/* Headers */
.header {
  display: grid;
  grid-template:
    "heading"
    "subheading"
    / auto;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  align-items: center;
}
.header .heading {
  grid-area: heading;
}
.header .subheading {
  grid-area: subheading;
}

/* Generic Headings */
.heading, legend {
  font-family: 'Playfair Display', serif;
  font-size: 3em;
}
.subheading {
  font-family: 'Open Sans Condensed', sans-serif;
}

/* Custom Buttons */
.button, button {
  font-size: 1em;
  font-family: 'Crimson Text', serif;
  padding: 0.5em 1em;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  display: inline-block;
  border-color: inherit;
}
.danger {
  color: white;
  border: 1px dashed rgb(255,0,0);
  background-color: rgba(255,0,0,0.5);
}

/* Profile Pics */
.profile-pic {
  width: 4em;
  height: auto;
  border-radius: 50%;
}

/* Disabled Elements */
a[disabled], .inactive {
  color: grey;
  cursor: default;
}

/* Maximum Horizontal Resizing */
.navbar, .page {
  max-width: 2000px;
  margin: auto;
}

/* Navbar ================================================================*/
.navbar-box {
  z-index: 10;
  position: sticky;
  padding: 0em 4em;
  top: 0;
}
.navbar {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-row-gap: 0.5em;
  padding: 1em 0em;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
}
.navbar * {
  text-align: center;
}
.navbar .website-icon {
  grid-area: heading;
  height: 4.5em;
  width: auto;
}
.navbar .expand-btn {
  grid-area: expand-btn;
}

/* Page ==================================================================*/
.page {
  display: grid;
  grid-template:
    "content sidebar"
    / 7fr 3fr;
  place-items: start stretch;
  padding: 1em 4em;
  grid-column-gap: 4em;
}

/* Sidebar ===============================================================*/
.sidebar {
  grid-area: sidebar;
  position: sticky;
  top: 7.6em;
  display: inline-grid;
  grid-template:
    "heading"
    "information"
    "paginator"
    / auto;
}
.sidebar .information {
  display: grid;
  grid-template:
    "latest-posts"
    "announcements"
    / auto;
  grid-row-gap: 0.5em;
}

/* Paginator =============================================================*/
.paginator {
  text-align: center;
  font-size: 1.4em;
  margin-top: 2em;
  margin-bottom: 1em;
}
.paginator * {
  border: none;
}
.paginator .current {
  padding: 0em 0.4em;
  border-radius: 50%;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

/* Content ===============================================================*/
.content {
  grid-area: content;
}
.content .posts, .content .announcements {
  display: grid;
  grid-template:
    "post"
    /auto;
  grid-row-gap: 2em;
  grid-auto-rows: auto;
}

/* Posts =================================================================*/
.post .header {
  grid-template:
    "pic heading"
    "pic subheading"
    / auto 1fr;
}
.post .header .heading a, .tag a {
  border-bottom: none;
}
.post .header .profile-pic {
  grid-area: pic;
  margin: 0em 1em;
}
.tags .tag {
  text-align: center;
  margin: 0.5em;
  padding: 0.1em 0.5em;
  display: inline-block;
}

/* Search =============================================================== */
.search-bar form {
  max-width: 100%;
  display: grid;
  grid-template:
    "search-bar search_button"
    / 1fr auto;
  align-content: space-between;
  grid-column-gap: 1em;
  grid-row-gap: 0.5em;
}
.search-bar form input {
  grid-area: search-bar;
}
.search-bar form button {
  grid-area: search_button;
}

/* Comments ==============================================================*/
.comments {
  box-shadow: none;
}
.comments .comment {
  padding: 0em 0.5em 0.8em 0.5em;
  display: grid;
  grid-template:
    "author author author"
    "text date trash"
    / 1fr auto auto;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
}
.comments .comment .date {
  grid-area: date;
}
.comments .comment .author {
  grid-area: author;
}
.comments .comment .text {
  grid-area: text;
}
.comments .comment .trash-icon {
  grid-area: trash;
  transition: 0.2s ease-in-out;
}
.comments .comment * {
  display: inline;
}
.comments .comment:not(:last-child) {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  margin-bottom: 0.5em;
}
.comment-box {
  display: grid;
  grid-template: "comment submit" / 1fr auto;
  align-items: center;
  justify-content: space-between;
  grid-column-gap: 2em;
}

/* New Post Button =======================================================*/
.new-post {
  display: grid;
  grid-template: "icon" / auto;
  place-items: center;
  color: rgb(0, 163, 44);
  border-color: rgb(0, 163, 44);
  background-color: rgba(4, 222, 63,0.2);
  font-size: 2em;
  border-radius: 50%;
  position: fixed;
  padding: 0.2em 0.3em;
}

/* Forms =================================================================*/
.profile-form label:not(:first-of-type) {
  margin-top: 1em;
}

/* Profile ===============================================================*/
.profile {
  display: grid;
  grid-template:
    "pic username" auto
    "pic name" auto
    "pic email" auto
    / auto 1fr;
  grid-column-gap: 3em;
}
.profile .profile-pic {
  width: 6em;
  grid-area: pic;
  place-self: center;
}
.profile .username {
  grid-area: username;
}
.profile .name {
  grid-area: name;
}
.profile .email {
  grid-area: email;
}
.profile-form li:last-of-type {
  font-size: 0;
  margin-top: 18px;
}
.profile-form li:last-of-type label {
  font-size: 18px;
}
.user-post-list {
  max-height: 15em;
  overflow-y: auto;
}
.user-post-list .user-post-title {
  white-space: nowrap;
  margin: 0em 0.5em 1em 0.5em;
  display: inline-block;
}

/* Delete Post ===========================================================*/
.confirm-buttons {
  display: grid;
  grid-template:
    "reject confirm"
    / auto auto;
  justify-content: space-between;
}

/* Responsive ============================================================*/
/* Classes ---------------------------------------------------------------*/
.unhide {
  display: block !important;
}

/* Breakpoints -----------------------------------------------------------*/
/* Desktops */
@media only screen and (min-width: 1000px) {
  .search-bar {
    margin-top: 2em;
  }
  .navbar {
    grid-template: "btn1 btn2 heading btn3 btn4" / auto auto auto auto;
  }
  .navbar .expand-btn {
    display: none;
  }
  .button:not(.inactive):not(.danger):hover {
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
  .invert-color.button:not(.inactive):not(.danger):hover {
    -webkit-filter: invert(0%);
    filter: invert(0%);
  }
  .danger:hover {
    color: rgb(255,0,0);
    border: 1px dashed rgb(255,0,0);
    background-color: inherit;
  }
  .trash-icon:hover {
    color: rgb(255,0,0);
  }
  .new-post {
    right: 2em;
    bottom: 2em;
  }
  .new-post i {
    animation-name: spin-reverse;
    animation-duration: 600ms;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .new-post:hover i {
    animation-name: spin;
  }
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(270deg);
      }
  }
  @keyframes spin-reverse {
      from {
          transform:rotate(270deg);
      }
      to {
          transform:rotate(0deg);
      }
  }
}
/* Landcape Tablets */
@media only screen and (max-width: 999px) {
  .search-bar {
    margin-top: 1em;
  }
  .navbar {
    grid-template:
      "heading expand-btn"
      / auto auto;
  }
  .expand-btn {
    display: block;
  }
  .navbar .button:not(.expand-btn) {
    display: none;
    grid-column: 1 / 3;
  }
  .navbar *:not(.expand-btn):not(.heading) {
    justify-self: stretch;
  }
  .page {
    grid-template:
      "content"
      / 1fr;
  }
  .sidebar {
    display: none;
  }
  .new-post {
    right: 1em;
    bottom: 1em;
  }
  .comments .comment {
    grid-template:
      "author trash"
      "text text"
      "date date"
      / 1fr auto;
    justify-content: space-between;
    grid-row-gap: 0.5em;
  }
}
/* Portrait Tablets */
@media only screen and (max-width: 700px) {
  .profile {
    grid-template:
      "pic"
      "username"
      "name"
      "email"
      / auto;
    place-items: center;
  }
  .post .header {
    grid-template:
      "pic"
      "heading"
      "subheading"
      / auto;
    place-items: center;
  }
  .header * {
    text-align: center;
  }
}
/* Mobiles */
@media only screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
  .page {
    padding: 1em 1em;
  }
  .navbar-box {
    padding: 0em 1em;
  }
  .navbar {
    padding: 0.5em 0em;
  }
  .new-post {
    right: 0.5em;
    bottom: 0.5em;
  }
  .comment-box {
    grid-template:
      "comment"
      "submit"
      / 1fr;
    place-items: center stretch;
    grid-row-gap: 0.5em;
  }
  .button.bottom {
    width: 100%;
    margin-top: 2em;
  }
}
