{% load static %}

body {
  max-width: 2000px;
  margin: auto;
  padding: 0em 4em;
  color: #000;
  font-size: 20px;
  font-family: 'Cormorant Infant', serif;
  -webkit-transition: 0.3s;
  background-color: #FFFFFF;
  border-color: #DDD;
  overflow-y: scroll;
  overflow-x: auto;
}
body * {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  box-sizing: border-box;
  background-color: inherit;
  border-color: inherit;
  color: inherit;
}

.header, .heading, .infobox {
  overflow-x: auto;
}
p, .sidebar .information, .text, .subheading, span {
  line-height: 1.7em;
}
.date, .subheading, .read-more, .helptext, input, textarea, .results-counter {
  color: #888;
  font-family: 'Poiret One', cursive;
}
.heading, legend {
  font-size: 3em;
  font-family: 'Cormorant SC', serif;
}
p, span, .card.special *, .errorlist *, i, a {
  background-color: transparent;
}
.infobox, .alert, .decision-box, .search-bar, .paginator, .share-buttons, .results-counter {
  margin-bottom: 1em;
}
.post .header .heading a, .paginator a, .tag a, .share-buttons a {
  border-bottom: none;
}
.button, button, fieldset, .card, .sidebar .sidebar-tab {
  border-width: 1px;
  border-style: solid;
  border-radius: 0.3em;
}

a {
  color: inherit;
  outline: inherit;
  text-decoration: inherit;
  border-bottom: 0.2em dotted #63B7E6;
}

form *:not(a) {
  display: block;
}
form li {
  list-style-type: none;
}
form li:not(:first-of-type) label {
  margin-top: 1em;
}
input, textarea {
  min-width: 0px;
  border: none;
  outline: 1px solid #ddd;
  padding: 0.5em 1em;
  font-size: 1em;
}
label {
  margin-bottom: 0.5em;
  font-family: 'Cormorant SC', serif;
}
.helptext {
  font-style: italic;
  font-size: 0.9em;
  margin: 0.5em 1em;
}
.helptext ul {
  padding-left: 0px;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.disabled {
  color: #DDD;
}
.clickable {
  cursor: pointer;
}
.right {
  float: right;
}

.alert {
  padding: 0.5em;
  color: rgb(0, 163, 44);
  background-color: rgba(4, 222, 63,0.2);
  text-align: center;
}
.errorlist {
  color: rgba(243,41,41,1);
  background: rgba(242, 38, 38, 0.2);
  padding: 1em;
  border-radius: 0.3em;
}

.button, button {
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  font-family: 'Poiret One', cursive;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border-bottom-color: inherit;
  color: #A2A2A2;
}
form button[type="submit"]:not(.search-button):not(.comment-button) {
  margin-top: 2em;
}

.card {
  padding: 2em;
}
.card.special {
  border: none;
  background-color: rgba(4, 222, 63,0.2);
}
.card.special, .card.special * {
  color: rgb(0, 163, 44)! important;
}
.card.special .header {
  border-color: rgb(0, 163, 44, 0.5)! important;
}
.card.margin-bottom {
  margin-bottom: 2em;
}

.header {
  display: grid;
  grid-template:
    "heading"
    "subheading"
    / auto;
  place-items: center start;
  padding-bottom: 1em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-bottom: 1em;
}
.header .heading {
  grid-area: heading;
}
.header .subheading {
  grid-area: subheading;
}

.list-box {
  max-height: 15em;
  overflow-y: auto;
}
.list-box .list-item {
  display: inline-block;
  margin: 0em 0.5em 1em 0em;
}

.profile-pic {
  height: 5em;
  width: auto;
  border-radius: 50%;
}

.decision-box {
  display: flex;
  justify-content: space-between;
}

.date {
  font-size: 0.9em;
}

/* ========================================================================== */

.navbar {
  z-index: 4;
  position: sticky;
  top: 0;
  padding: 1em 0em;
  display: grid;
  align-items: center;
  justify-content: space-between;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  letter-spacing: 0.1em;
}
.navbar * {
  text-align: center;
}
.navbar .website-icon {
  grid-area: icon;
  height: 4.5em;
  width: auto;
}
.navbar .navbar-button {
  padding: 0em 2em;
}
.navbar .expand-btn {
  grid-area: expand-btn;
  padding-right: 1em;
  justify-self: end;
}

.sidebar {
  z-index: 1;
  grid-area: sidebar;
  position: sticky;
  top: 8.6em;
  overflow: hidden;
  padding-bottom: 1em;
}
.sidebar .header {
  grid-area: header;
}
.sidebar .information {
  grid-area: information;
  display: grid;
  grid-template:
    "latest"
    "announcement"
    / auto;
  grid-row-gap: 0.5em;
}

.page {
  padding: 2em 0em;
  display: grid;
  grid-column-gap: 4em;
  place-items: start stretch;
}
.page .alert {
  grid-area: alert;
}
.page .content .posts, .page .content .announcements {
  display: grid;
  grid-template:
    "post"
    / auto;
  grid-row-gap: 2em;
  grid-auto-rows: auto;
}

.search-bar {
  padding: 1em;
  display: grid;
  grid-template:
    "search-box submit-button"
    / 1fr auto;
}
.search-bar input {
  padding: 0em 2em;
  outline: none;
}
.search-bar button {
  border: none;
}

.paginator {
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 1.1em;
  color: #A2A2A2;
}
.paginator a {
  padding: 0em 0.4em;
}
.paginator .current {
  border-radius: 0.3em;
  background-color: #A2A2A2;
  color: #FFF;
}
.paginator:last-of-type {
  margin-top: 1em;
  margin-bottom: 0em;
}

.results-counter {
  text-align: right;
  font-size: 0.9em;
}

.content {
  grid-area: content;
}

.progress-bar-container {
  z-index: 3;
  width: 100%;
  position: sticky;
  top: 6.5em;
  background: transparent;
}
.progress-bar {
  padding: 0.2em 0em;
  background-color: #ccf9d8;
  width: 0%;
  max-width: 100%;
}

.share-buttons a {
 border-color: inherit;
}

.post {
  padding: 4em;
}
.post .header {
  grid-template:
    "image heading"
    "image subheading"
    / auto 1fr;
  grid-column-gap: 1em;
}
.post .header img {
  grid-area: image;
}
.post p {
  text-align: justify;
}
.read-more {
  font-size: 0.9em;
}

.tag {
  font-size: 0.9em;
  font-family: 'Poiret One', cursive;
  padding: 0.3em 0.5em;
  color: rgb(0, 163, 44);
  background-color: rgba(4, 222, 63,0.2);
  text-align: center;
}

.comment-box {
  display: grid;
  grid-template:
    "comment submit"
    / 1fr auto;
  grid-column-gap: 1em;
}
.comment-box textarea {
  transition: none;
  resize: vertical;
}

.comment {
  display: grid;
  grid-template:
    "author content date delete"
    / auto 1fr auto auto;
  grid-gap: 0.5em;
  padding: 1em 0em;
}
.comment:not(:last-of-type) {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}
.comment .author {
  grid-area: author;
}
.comment .text {
  grid-area: content;
}
.comment .trash-icon {
  grid-area: delete;
  background: transparent! important;
  justify-self: end;
}
.comment .date {
  grid-area: date;
}

.new-post, .scroll-to-top {
  z-index: 2;
  position: fixed;
  bottom: 1em;
  right: 4em;
  display: inline-block;
  padding: 1em 1.3em;
  border-radius: 50%;
  color: rgb(0, 163, 44);
  background-color: rgba(4, 222, 63,0.2);
}

.profile {
  display: grid;
  grid-template:
    "image username"
    "image fullname"
    "image email"
    / auto 1fr;
  grid-column-gap: 1em;
}
.profile .profile-pic {
  grid-area: image;
}
.profile .username {
  grid-area: username;
}
.profile .name {
  grid-area: fullname;
}
.profile .email {
  grid-area: email;
}

.profile-form li:last-of-type {
  font-size: 0px;
}
.profile-form li:last-of-type label, .profile-form li:last-of-type input {
  font-size: 20px;
}

body.dark-mode, .dark-mode input, .dark-mode textarea, .dark-mode .helptext, .dark-mode .button, .dark-mode button, .dark-mode .date, .dark-mode .subheading, .dark-mode .read-more, .dark-mode .paginator, .dark-mode .results-counter {
  color: #a7adbb;
}
body.dark-mode {
  background-color: #404654;
  border-color: #383c4a;
}
.dark-mode input, .dark-mode textarea {
  outline-color: #383c4a;
}
.dark-mode .disabled {
  color: #383c4a;
}
.dark-mode .paginator .current {
  background-color: #a7adbb;
  color: #404654;
}
.dark-mode .progress-bar {
  background-color: #33654f;
}

/* Only Large Screens */
@media only screen and (min-width: 1200px) {
  .new-post i {
    animation-name: spin-reverse;
    animation-duration: 600ms;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .new-post:hover i {
    animation-name: spin;
  }
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(270deg);
      }
  }
  @keyframes spin-reverse {
      from {
          transform:rotate(270deg);
      }
      to {
          transform:rotate(0deg);
      }
  }
  .scroll-to-top i {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
  }
  .scroll-to-top:hover i {
    animation-name: bounce;
    -moz-animation-name: bounce;
  }
  @keyframes bounce {
  	0%, 100%, 20%, 50%, 80% {
  		-webkit-transform: translateY(0);
  		-ms-transform:     translateY(0);
  		transform:         translateY(0)
  	}
  	40% {
  		-webkit-transform: translateY(-12px);
  		-ms-transform:     translateY(-12px);
  		transform:         translateY(-12px)
  	}
  	60% {
  		-webkit-transform: translateY(-6px);
  		-ms-transform:     translateY(-6px);
  		transform:         translateY(-6px)
  	}
  }
  .button:hover i, button:hover i {
    color: rgb(0, 163, 44);
  }
  .button:hover, button:hover {
    color: rgb(0, 163, 44);
    background-color: rgba(4, 222, 63,0.2);
  }
  .danger:hover i {
  	color: rgba(243,41,41,1);
  }
  .danger:hover {
  	color: rgba(243,41,41,1);
  	background: rgba(242, 38, 38, 0.2);
  }
  .paginator i:hover {
    color: #DDD;
  }
  .dark-mode .paginator i:hover {
    color: #FFF;
  }
  .navbar {
    grid-template:
      "btn1 btn2 icon btn3 btn4"
      / auto auto auto auto auto;
  }
  .navbar .navbar-button:hover span {
    color: #888;
  }
  .dark-mode .navbar .navbar-button:hover span {
    color: #fff;
  }
  .navbar .expand-btn, .navbar .announcements-button {
    display: none;
  }
  .page {
    grid-template:
      "alert alert"
      "content sidebar"
      / 7fr 3fr;
  }
  .share-buttons .button {
   margin-right: 0.5em;
  }
}
/* Landcape Tablets */
@media only screen and (max-width: 1200px) {
  .danger {
  	color: rgba(243,41,41,1) !important;
  }
  .navbar {
    grid-template:
      "icon expand-btn"
      / auto auto;
    justify-items: center;
  }
  .navbar .website-icon {
    justify-self: start;
  }
  .navbar .navbar-button:not(.expand-btn):first-of-type {
    margin-top: 1em;
  }
  .navbar .navbar-button:not(.expand-btn) {
    display: none;
    grid-column: 1 / -1;
  }
  .navbar .navbar-button:not(.expand-btn):not(:last-of-type) {
    padding-bottom: 0.5em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: 0.5em;
  }
  .navbar-hidden {
    display: block !important;
  }
  .sidebar {
    display: none;
  }
  .page {
    grid-template:
      "alert"
      "content"
      / auto;
  }
  .new-post, .scroll-to-top {
    right: 1em;
  }
  .comment {
    grid-template:
      "author delete"
      "content content"
      "date date"
      / auto auto;
  }
}
/* Portrait Tablets */
@media only screen and (max-width: 700px) {
  body {
    padding: 0em 1em;
  }
  .page {
    padding: 1em 0em;
  }
  .header, .infobox {
    text-align: center;
    justify-items: center;
  }
  .profile {
    grid-template:
      "image"
      "username"
      "fullname"
      "email"
      / auto;
    justify-items: center;
    text-align: center;
  }
  .post .header {
    grid-template:
      "image"
      "heading"
      "subheading"
      / auto;
  }
  .comment-box {
    grid-template:
      "comment"
      "submit"
      / auto;
    grid-row-gap: 0.5em;
  }
}
/* Mobiles */
@media only screen and (max-width: 600px) {
  body {
    font-size: 18px;
  }
  input {
    max-width: 180px;
  }
  .heading, legend {
    font-size: 2em;
  }
  .paginator {
    font-size: 1em;
  }
  .card {
    padding: 1em;
  }
  .share-buttons {
    display: flex;
    justify-content: space-between;
  }
  .share-buttons .button {
    padding: 0.5em 2em;
  }
  .post {
    padding: 2em;
  }
}
