{% extends 'Blog/base.html' %}

{% block title %}About{% endblock %}

{% block content %}

<div class="card">
	<!-- HEADER -->
	<div class="header">
		<div class="heading">About.</div>
		<div class="subheading">Everything you need to know about Corkran.</div>
	</div>

	<!-- CONTENT -->
	<p>
		Some write. Even fewer want others to see. And a lot less write something worthy of being seen. That
		last part is something we can ignore. Here, is where you can put just about anything you want up for
		everyone to see, provided that's what you want. Oh, and you can tell others what you think of what
		they've written as well. Here, what you write is who you are.<br><br>This blog was created, and is
		maintained entirely by one person (<a href="{% url 'author-sorted-articles' 'Aarush' %}">Aarush</a>).
		What this means, that if you've got any improvements, suggestions, or new features you'd like to see
		(that aren't completely muddle-headed), you can 
		<a href="mailto:aarushbeleren11@gmail.com?Subject=From a Corkran User">email</a> me about the same.
	</p>
</div>

{% endblock %}