{% extends "blog/base.html" %}

{% block title %}About{% endblock title %}

{% block content %}
  <div class="card">
    <div class="header">
      <div class="heading">About</div>
      <div class="subheading">Everything you need to know about Corkran.</div>
    </div>
    <p>Some write. Even fewer want others to see. And a lot less write something worthy of being seen. That last part is something we can ignore. Here, is where you can put just about anything you want up for everyone to see, provided that's what you want. Oh, and you can tell others what you think of what they've written as well. Here, what you write is who you are.</p>
  </div>
{% endblock content%}
