{% extends 'Blog/base.html' %}

{% block title %}About{% endblock %}
{% block description %}Most of what you need to know about Corkran.{% endblock %}

{% block content %}
<!-- About -->
<div class="card">
	<!-- Header -->
	<div class="header">
		<div class="heading">About.</div>
		<div class="subheading">Everything you need to know about Corkran.</div>
	</div>

	<!-- Content -->
	<p>
		Some write. Even fewer want others to see. And a lot less write something worthy of being seen. That
		last part is something that may as well be ignored. Here, is where you can put just about anything you 
		want up for everyone to see, provided that's what you want. Or perhaps you just want to write, or maybe 
		read what others have written. It's a free land, this. Do what you will. Here, what you write is who you 
		are. 
	</p>

	<p>
		This blog was created, and is maintained entirely by one <a href="{% url 'author-sorted-articles' 'OunceOfShag' %}">person</a>. 
		What this means, that if you've got	any improvements, suggestions, or new features you'd like to see
		(that aren't completely muddle-headed), you can	<a href="mailto:aarushbeleren11@gmail.com?Subject=From a Corkran User">email</a> 
		me about the same.
	</p>

	<p>
		For those of you who care, we don't collect any information about you that you don't know about, 
		and we don't sell your information at all. You have total control over what you share with us, 
		and that also brings us to a small disclaimer - the user-uploaded content on this site reflects 
		the views, and opinions of that user only. We have nothing to do with it, apart from putting it 
		up on the website. That's a slight catch about freedom - we can't be biased, so you may find 
		something you don't agree with, but there's not often much we can do about it; they're only 
		exercising the same rights you have.
	</p>

	<!-- Links to T&C, privacy, and disclaimer pages -->
	<p class="montserrat grey">You may want to read our official <a href="{% url 'terms-and-conditions' %}">terms and conditions</a>, <a href="{% url 'privacy' %}">privacy policy</a>, and <a href="{% url 'disclaimer' %}">content disclaimer</a>. Then again, you may not.</p>
</div>
{% endblock %}