{% extends 'Blog/base.html' %}

{% block title %}Announcements{% endblock %}

{% block content %}

<!-- ANNOUNCEMENTS LIST -->
{% for announcement in announcements %}
<div class="card">
	<!-- HEADER -->
	<div class="header">
		<div class="heading">{{ announcement.date|date:"F jS, Y" }}</div>
		<div class="subheading">{{ announcement.date|date:"F jS, Y, g:i a e" }}</div>
	</div>

	<!-- CONTENT -->
	<p>{{ announcement.content|urlizetrunc:40|linebreaks }}</p>
</div>
{% empty %}
<!-- HEADER -->
<div class="special card">
	<div class="header">
		<div class="heading">No Announcements.</div>
		<div class="subheading">Absolutely none, we assure you.</div>
	</div>

	<!-- CONTENT -->
	<div class="text">You're either here very early, or something has gone horribly wrong. In either case, go ahead and relax.</div>
</div>
{% endfor %}

{% endblock %}