{% extends 'Blog/base.html' %}

{% block title %}Announcements{% endblock %}
{% block description %}Important announcements and updates for Corkran.{% endblock %}

{% block content %}
{% if request.user.is_superuser %}
<!-- New announcement form -->
<form method="post" class="vertically-space-items confirm-leave">{% csrf_token %}
	<!-- Announcement textarea -->
	<textarea name="content" rows="5" required autocomplete="off" placeholder="New announcement..." class="closer-below"></textarea>

	<!-- Submit button -->
	<div class="right-align-text">
		<button class="button" type="submit" name="create">Announce</button>
	</div>
</form>

<div class="horizontal-divider"></div>
{% endif %}


{% for announcement in announcements %}
<!-- Announcement anchor -->
<div class="anchor" id="{{ announcement.id }}"></div>

<!-- Announcement -->
<div class="card">
	<!-- Header -->
	<div class="header">
		<div class="heading">{{ announcement.date|date:"F jS, Y" }}</div>
		<div class="subheading">{{ announcement.date|date:"F jS, Y, g:i a e" }}</div>
	</div>

	<!-- Content -->
	{{ announcement.content|urlizetrunc:40|linebreaks }}

	{% if request.user.is_superuser %}
	<!-- Delete button -->
	<div class="right-align-text">
		<a href="{% url 'delete-announcement' announcement.id %}" class="minimal no-border danger button">Delete</a>
	</div>
	{% endif %}
</div>

{% empty %}

<!-- No announcements -->
<div class="special card">
	<!-- Header -->
	<div class="header">
		<div class="heading">No Announcements.</div>
		<div class="subheading">Absolutely none, we assure you.</div>
	</div>

	<!-- Content -->
	<div class="text">You're either here very early, or something has gone horribly wrong. In either case, go ahead and relax.</div>
</div>
{% endfor %}
{% endblock %}