{% extends 'Blog/base.html' %}

{% load mptt_tags %}
{% load corkran_tags %}

{% block title %}"{{ article.title }}" by {% if article.author %}{{ article.author.username }}{% else %}[deleted]{% endif %}{% endblock %}
{% block description %}{{ article.content|truncatechars:300 }}{% endblock %}

{% block meta_tags %}
<!-- Basic article meta tags -->
<meta name="author" content="{{ article.author.username }}">
<meta name="keywords" content="{{ article.tags.all|join:','}}">

<!-- OG article meta tags -->
<meta property="og:type" content="article">
<meta property="og:title" content="{{ article.title }}">
<meta property="og:article:author" content="{{ article.author.username }}">
<meta property="og:description" content="{{ article.content|truncatechars:300 }}">
<meta property="og:image" content="https://ik.imagekit.io/f92sz8hl8b{% if article.thumbnail %}{{ article.thumbnail.url }}{% else %}/media/defaults/article_thumbnail.jpg{% endif %}?tr=w-1200,h-600,fo-auto">

<!-- Twitter article meta tags -->
<meta name="twitter:card" content="summary_large_image">
{% endblock %}

{% block feature %}{% if article.thumbnail %}	
<!-- Feature image -->
<div 
	data-href="https://ik.imagekit.io/f92sz8hl8b/{{ article.thumbnail.url }}" 
	data-srcset="
		https://ik.imagekit.io/f92sz8hl8b{{ article.thumbnail.url }}?tr=w-1650,h-550,fo-auto 3000w, 
		https://ik.imagekit.io/f92sz8hl8b{{ article.thumbnail.url }}?tr=w-1350,h-450,fo-auto 1500w,
		https://ik.imagekit.io/f92sz8hl8b{{ article.thumbnail.url }}?tr=w-900,h-300,fo-auto 1000w,
		https://ik.imagekit.io/f92sz8hl8b{{ article.thumbnail.url }}?tr=w-750,h-250,fo-auto 600w"  
	data-sizes="100vw"
	class="progressive replace feature image-container unselectable darken-overlay">

	<!-- Blurred loader image -->
	<img src="https://ik.imagekit.io/f92sz8hl8b/{{ article.thumbnail.url }}?tr=w-300,h-100,fo-auto" class="preview">

	<!-- Overlay -->
	<div class="cutout-overlay">
		<div data-vertical-truncator="3">{{ article.title }}</div>
		<div class="right-align-text feature-caption">By {% if article.author %}{{ article.author.username }}{% else %}[deleted]{% endif %}</div>
	</div>

	<!-- Image attribution -->
	<div class="caption-overlay">
		<a href="https://ik.imagekit.io/f92sz8hl8b{{ article.thumbnail.url }}?tr=orig-true" target="blank" title="Full image"><i class="fas fa-images"></i></a> 
		{% if article.attribution %}| {{ article.attribution|urlizetrunc:20 }}{% endif %}
	</div>

	{% if request.user.is_superuser %} 
	<!-- Feature article -->
	<div id="feature_form">
		<form method="post">{% csrf_token %}
			<div>
				{{ feature_form.featured }}
				<label for="id_featured">Feature</label>
				<input type="hidden" name="feature">
			</div>
		</form>
	</div>
	{% endif %}
</div>
{% endif %}{% endblock %}


<!-- Article detail sidebar header -->
{% block sidebar_alt_heading %}<div class="section-heading" data-sidebar="article_detail">{{ article.title }}</div>{% endblock %}
{% block sidebar_alt_subheading %}<div class="subheading" data-sidebar="article_detail">By {{ article.author.username }}</div>{% endblock %}

<!-- Article sidebar content -->
{% block sidebar_alt_content %}
<div data-sidebar="article_detail">
	<div class="content vertical blur-overflow">
		<div class="vertically-space-items">
			<!-- Article category -->
			<div class="minimal card closer-below">
				<label>Category:</label>
				<span class="small"><a href="{{ article.category.get_absolute_url }}" class="unformatted">{{ article.category.name }}</a></span>
			</div>
			
			<!-- Article lede -->
			<div class="minimal card">
				<div class="small text">
					{% if article.lede %}
					{{ article.lede|linebreaks|urlizetrunc:20 }}
					{% else %}
					"{{ article.title }}", written by {{ article.author.username }}, has nothing in the way of a <a href="https://en.wikipedia.org/wiki/Lead_paragraph" target="blank">lede</a>. One might as well "just jump right into it", as they say.
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block content %}
{% if user == article.author %}
<!-- Article edit buttons -->
<div class="nowrap list-box split-items compact-spacing closer-below">
	<a href="{% url 'delete-article' article.id %}" class="small danger button"><i class="fas fa-trash-alt"></i> Delete</a>
	<a href="{% url 'edit-article' article.id %}" class="button small split-item">Edit <i class="fas fa-edit"></i></a>
</div>
{% endif %}


<!-- Article controls -->
<div class="normal-spacing nowrap list-box split-items closer-below" id="article_controls">
	<!-- Social media share buttons dropdown -->
	<div class="compact dropdown">
		<div class="small button dropdown-label"><i class="fas fa-share-alt"></i></div>
		<div class="dropdown-content">
			<div class="nowrap list-box compact-spacing">
				<!-- Twitter -->
				<a href='https://twitter.com/share?url={{request.build_absolute_uri}}&text="{{article.title}}" by {{article.author}}'
					target="_blank" class="share-btn twitter small button" title="Share on Twitter">
					<i class="fab fa-twitter"></i>
				</a>
				
				<!-- Facebook -->
				<a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}" target="_blank"
					class="share-btn facebook small button" title="Share on Facebook">
					<i class="fab fa-facebook-f"></i>
				</a>
				
				<!-- Email -->
				<a href="mailto:?subject={{article.title}}&body={{article.title}} - From the Corkran blog. ({{request.build_absolute_uri}})"
					target="_blank" class="share-btn email small button" title="Share by email">
					<i class="fas fa-envelope"></i>
				</a>
			</div>
		</div>
	</div>

	<!-- Random article -->
	<a href="{{ random_article_url }}" class="small button" title="Random article">
		<i class="fas fa-random"></i>
	</a>

	{% if article.author %}
	<!-- Subscribe or unsubscribe to author -->
	<form method="post">{% csrf_token %}
		<button class="small button" type="submit" name="subscribe" title="{% if subscribed %}Unsubscribe from {{ article.author.username }}{% else %}Subscribe to {{ article.author.username }}{% endif %}">
			{% if subscribed %}
			<i class="fas fa-bell"></i>
			{% else %}
			<i class="far fa-bell"></i>
			{% endif %}
			&nbsp;{{ author_sub_count }}
		</button>
	</form>
	{% endif %}

	<!-- Add or remove article from user library -->
	<form method="post" class="split-item">{% csrf_token %}
		<button class="small button" type="submit" name="library" title="{% if article_in_library %}Remove article from library{% else %}Add article to library{% endif %}">
			{% if article_in_library %}
			<i class="fas fa-bookmark"></i>
			{% else %}
			<i class="far fa-bookmark"></i>
			{% endif %}
			&nbsp;{{ in_library_count }}
		</button>
	</form>

	<!-- Zen mode -->
	<div class="small button" onclick="toggleZenMode();" title="Zen mode">
		<i class="fas fa-coffee"></i>
	</div>
	
	<!-- Go to comments -->
	<a href="#comments" class="small button" title="Comments">
		<i class="fas fa-comments"></i>
	</a>
</div>


<!-- Post navigation -->
<div class="list-box nowrap split-items normal-spacing closer-below">
	<!-- Previous post -->
	<a href="{{ previous_article.get_absolute_url }}" class="button single-line-text" title="Newer">
		<i class="fas fa-arrow-circle-left"></i>&nbsp;&nbsp;{{ previous_article.title }}
	</a>
	
	<!-- Next post -->
	<a href="{{ next_article.get_absolute_url }}" class="button split-item single-line-text" id="next_post" title="Older">
		<i class="fas fa-arrow-circle-right"></i>&nbsp;&nbsp;{{ next_article.title }}&lrm;
	</a>
</div>


<!-- Article -->
<div class="article main-article card">
	<!-- Header -->
	<div class="header vertically-space-items">
		<!-- Title -->
		<div class="heading closer-below">{{ article.title }}</div>

		<!-- Category -->
		<a href="{{ article.category.get_absolute_url }}" class="unformatted">{{ article.category.name }}</a> ||

		<!-- Date and author -->
		<span class="subheading">
			<!-- Date -->
			<span title="{{ article.date|date:"F jS, Y, g:i a e" }}">{{ article.date|date:"F jS, Y" }}</span> - By
			<!-- Author -->
			{% if article.author %}
			<a href="{% url 'author-sorted-articles' article.author %}"	title="Articles by {{ article.author.username }}">{{ article.author.username }}</a>
			{% else %}[deleted]{% endif %}
		</span>
	</div>
	
	<div class="vertically-space-items">
		<div class="content">
			{% if article.lede %}
			<!-- Article lede -->
			<div class="mobile">
				<div class="small"><i>{{ article.lede|linebreaks|urlizetrunc:40 }}</i></div>
				<div class="horizontal-divider"></div>
			</div>
			{% endif %}

			<!-- Article content -->
			{{ article.content|urlizetrunc:40|linebreaks }}
		</div>
		
		<!-- Tags box -->
		<div class="list-box compact-spacing">
			{% for tag in article.tags.all %}
			<a href="{% url 'tag-sorted-articles' tag %}" class="unselectable clickable single-line-text tag">
				{{ tag }}
			</a>
			{% endfor %}
		</div>
	</div>
</div>


<!-- Zen mode article -->
<div id="zen_mode">
	<!-- Close button -->
	<i class="far fa-times-circle clickable close-btn" onclick="toggleZenMode();"></i>
	
	<!-- Article -->
	<div class="content">
		<div class="vertically-space-items">
			<div>
				<!-- Header -->
				<div class="header">
					<div class="heading">{{ article.title }}</div>
					<div class="subheading">By {{ article.author.username }}</div>
				</div>

				{% if article.lede %}
				<!-- Article lede -->
				<div class="small"><i>{{ article.lede|linebreaks|urlizetrunc:40 }}</i></div>
				<div class="horizontal-divider"></div>
				{% endif %}

				<!-- Article content -->
				{{ article.content|linebreaks|urlizetrunc:40 }}
			</div>

			<!-- Go to comments button -->
			<a href="#comments" class="minimal selected button" onclick="toggleZenMode();">
				Comments&nbsp;&nbsp;<i class="fas fa-comments"></i>
			</a>
		</div>
	</div>
</div>


<!-- Article suggestions list -->
{% article_widget_grid similar_articles %}


<!-- Comments box anchor -->
<div class="anchor" id="comments"></div>

<!-- Login portal -->
{% if not user.is_authenticated %}
<div class="special word-card card">
	<div class="montserrat text">
		Join the conversation - <a href="{% url 'login' %}?next={{ article.get_absolute_url }}#comments">Login</a> to comment.
	</div>
</div>
{% endif %}

<!-- Comments container -->
<fieldset class="card" id="comments_container">
	<!-- New comment -->
	{% if user.is_authenticated %}
	<form method="post" class="vertically-space-items confirm-leave">{% csrf_token %}
		<!-- Textarea -->
		<textarea name="content" rows="4" required autocomplete="off" placeholder="New comment..." class="closer-below"></textarea>

		<!-- Submit button -->
		<div class="right-align-text">
			<button class="button" type="submit" name="comment">Comment</button>
		</div>
	</form>

	<div class="horizontal-divider"></div>
	{% endif %}

	<!-- Heading -->
	<legend class="heading">Comments</legend>

	{% if article.comment_set.count > 0 %}
	<!-- Comment tree -->
	<ul>
		{% recursetree article.comment_set.all %}
		<li>
			<!-- Comment anchor -->
			<div class="anchor" id="{{ node.id }}"></div>

			<!-- Comment -->
			<div class="comment">
				<!-- Author and date -->
				<div class="info-container single-line-text">
					<!-- Author -->
					{% if node.author %}
					<a href="{% url 'author-sorted-articles' node.author %}" title="Articles by {{ node.author }}">{{ node.author }}</a>
					{% else %}[deleted]{% endif %}
					<!-- Date -->
					<span class="montserrat text grey"> ~ {{ node.date|date:"F jS, Y | g:i a e" }}</span>
				</div>

				<!-- Content -->
				<div class="content text preserve-linebreaks">{{ node.content|urlizetrunc:30 }}</div>

				<!-- Edit comment -->
				<div class="edit editor">
					<form class="confirm-leave" method="post" autocomplete="off">{% csrf_token %}
						<!-- Textarea -->
						<textarea name="content" rows="2" required>{{ node.content }}</textarea>

						<!-- Parent id -->
						<input type="hidden" name="id" value="{{ node.id }}">

						<!-- Submit button -->
						<div class="right-align-text">
							<button class="minimal no-border button" type="submit" name="edit">Publish edit</button>
						</div>
					</form>
				</div>

				<!-- Comment buttons -->
				<div class="comment-btn-container">
					<div class="list-box nowrap blur-overflow button-container-wrapper">
						<div class="list-box nowrap button-container">
							<!-- Direct link -->
							<div class="minimal no-border button direct-linker" onclick="copyToClipboard('{{ request.build_absolute_uri }}#{{ node.id }}');" title="Copy direct link to comment">Link</div>
							
							{% if user.is_authenticated %}
							<!-- Reply -->
							<div class="minimal no-border button reply toggle-btn">Reply</div>
							{% if user == node.author %}
							<!-- Edit -->
							<div class="minimal no-border button edit toggle-btn">Edit</div>
							<!-- Delete -->
							<a href="{% url 'delete-comment' node.id %}" class="minimal no-border danger button">Delete</a>
							{% endif %}
							
							{% else %}
							<!-- Pseudo-reply -->
							<a href="{% url 'login' %}?next={{ article.get_absolute_url }}#{{ node.id }}" class="minimal no-border button">Reply</a>
							{% endif %}
						</div>
					</div>
				</div>

				<!-- Reply to comment -->
				<div class="reply editor">
					<form class="confirm-leave" method="post" autocomplete="off">{% csrf_token %}
						<!-- Textarea -->
						<textarea name="content" rows="2" placeholder='Reply to: "{{ node.content|truncatechars:25 }}"' required></textarea>

						<!-- Parent id -->
						<input type="hidden" name="parent_id" value="{{ node.id }}">

						<!-- Submit button -->
						<div class="right-align-text">
							<button class="minimal no-border button" type="submit" name="reply">Publish reply</button>
						</div>
					</form>
				</div>
			</div>

			{% if not node.is_leaf_node %}
			<ul class="children">
				{{ children }}
			</ul>
			{% endif %}
		</li>
		{% endrecursetree %}
	</ul>

	{% else %}

	<!-- No comments message -->
	<div class="word-card card special">
		<span class="montserrat">No comments. Maybe it's new. Or confusing.</span>
	</div>
	{% endif %}
</fieldset>
{% endblock %}

{% block floating-button %}
<!-- Scroll to top button -->
<a href="#top" class="floating-btn scroll-top-btn" title="Back to Top">
	<i class="fas fa-chevron-up"></i>
</a>
{% endblock %}