{% extends 'Blog/base.html' %}

{% load mptt_tags %}
{% load corkran_tags %}

{% block title %}"{{ article.title }}"{% endblock %}

{% block feature %}
{% if article.thumbnail %}	

<!-- Feature image -->
<div 
	data-href="https://ik.imagekit.io/f92sz8hl8b/{{ article.thumbnail.url }}" 
	data-srcset="
		https://ik.imagekit.io/f92sz8hl8b/{{ article.thumbnail.url }}?tr=w-1800 3000w, 
		https://ik.imagekit.io/f92sz8hl8b/{{ article.thumbnail.url }}?tr=w-1400 1500w,
		https://ik.imagekit.io/f92sz8hl8b/{{ article.thumbnail.url }}?tr=w-850 1000w,
		https://ik.imagekit.io/f92sz8hl8b/{{ article.thumbnail.url }}?tr=w-600 600w"   
	data-sizes="100vw"
	class="progressive replace feature unselectable">

	<!-- Blurred loader image -->	
	<img src="https://ik.imagekit.io/f92sz8hl8b/{{ article.thumbnail.url }}?tr=w-300" class="preview" alt="Article Thumbnail">
	
	<!-- Overlay -->
	<div class="overlay" data-vertical-truncator="3">{{ article.title }}</div>
</div>
	
{% if article.attribution %}
<!-- Feature image attribution -->
<div class="attribution">{{ article.attribution|urlizetrunc:30 }}</div>
{% endif %}

{% endif %}
{% endblock %}


{% block content %}

{% if user == article.author %}
<!-- Article edit buttons -->
<div class="dual-option-container closer-below">
	<a href="{% url 'edit-article' article.id %}" class="button">Edit</a>
	<a href="{% url 'delete-article' article.id %}" class="danger button">Delete</a>
</div>
{% endif %}


<div class="article-controls generous-spacing nowrap list-box split-items closer-below">
	<!-- Twitter -->
	<a href='https://twitter.com/share?url={{request.build_absolute_uri}}&text="{{article.title}}" by {{article.author}}'
		target="_blank" class="share-btn twitter small button" title="Share on Twitter">
			<i class="fab fa-twitter"></i>
	</a>

	<!-- Facebook -->
	<a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}" target="_blank"
		class="share-btn facebook small button" title="Share on Facebook">
			<i class="fab fa-facebook-f"></i>
	</a>

	<!-- Email -->
	<a href="mailto:?subject={{article.title}}&body={{article.title}} - From the Corkran blog. ({{request.build_absolute_uri}})"
		target="_blank" class="share-btn email small button" title="Share by email">
			<i class="fas fa-envelope"></i>
	</a>

	<!-- Zen mode -->
	<div class="small button split-item" onclick="toggleZenMode();">
		<i class="fas fa-coffee"></i>
	</div>

	<!-- Go to comments -->
	<a href="#comments" class="small button" title="Comments">
		<i class="fas fa-comments"></i>
	</a>
</div>


<!-- Post navigation -->
<div class="article-navigation-btn-container closer-below">
	<!-- Previous post -->
	<a href="{{ previous_article.get_absolute_url }}" class="button prev-post" title="Newer">
		<i class="fas fa-arrow-circle-left"></i>&nbsp;&nbsp;{{ previous_article.title }}
	</a>
	
	<!-- Next post -->
	<a href="{{ next_article.get_absolute_url }}" class="button next-post" title="Older">
		<i class="fas fa-arrow-circle-right"></i>&nbsp;&nbsp;<bdi>{{ next_article.title }}</bdi>
	</a>
</div>


<!-- Article -->
<div class="article main-article card">
	<!-- Header -->
	<div class="header">
		<!-- Title -->
		<div class="heading">{{ article.title }}</div>
		<!-- Date and author -->
		<span class="subheading">
			{{ article.date|date:"F jS, Y, g:i a e" }} - By
			<a href="{% url 'author-sorted-articles' article.author %}"
				title="Articles by {{ article.author.username }}">
				{{ article.author.username }}
			</a>
		</span>
	</div>
	
	<!-- Content -->
	<div class="content">{{ article.content|linebreaks|urlizetrunc:40 }}</div>
</div>


<!-- Zen mode article -->
<div class="zen-mode">
	<!-- Close button -->
	<i class="far fa-times-circle clickable close-btn" onclick="toggleZenMode();"></i>
	
	<!-- Article -->
	<div class="content">
		<!-- Header -->
		<div class="header">
			<div class="heading">{{ article.title }}</div>
			<div class="subheading">By {{ article.author.username }}</div>
		</div>

		<!-- Article content -->
		{{ article.content|linebreaks|urlizetrunc:40 }}

		<!-- Go to comments button -->
		<a href="#comments" class="button" onclick="toggleZenMode();">
			Comments&nbsp;&nbsp;<i class="fas fa-angle-double-down"></i>
		</a>
	</div>
</div>


{% if request.user.is_superuser %} 
<!-- Feature article -->
<div class="right-align-container closer-below">
	<form method="post">{% csrf_token %}
		{% if not article.featured %}
		<input type="checkbox" name="featured" id="id_featured" checked>
		<button class="button" type="submit" name="feature">Feature This Article</button>
		{% else %}
		<input type="checkbox" name="featured" id="id_featured">
		<button class="button danger" type="submit" name="feature">Unfeature This Article</button>
		{% endif %}
	</form>
</div>
{% endif %}


<!-- Tags box container -->
<fieldset class="compact card">
	<!-- Heading -->
	<legend class="heading">Tags</legend>

	<!-- Tags box -->
	<div class="list-box compact-spacing">
		{% for tag in article.tags.all %}
		<a href="{% url 'tag-sorted-articles' tag %}" class="unselectable clickable single-line-text tag">
			{{ tag }}
		</a>
		{% endfor %}
	</div>
</fieldset>


<!-- Comments box offset anchor -->
<div class="offset anchor" id="comments"></div>

<!-- Comments container -->
<fieldset class="comments card">

	<!-- HEADING -->
	<legend class="heading">Comments ({{article.comment_set.count}})</legend>

	{% if article.comment_set.count > 0 %}
	<!-- Comment tree -->
	<ul>
		{% recursetree article.comment_set.all %}
		<li>
			<!-- Comment offset anchor -->
			<div class="offset anchor" id="{{ node.id }}"></div>

			<!-- Comment -->
			<div class="comment">
				<!-- Author and date -->
				<div class="info-container">
					<a href="{% url 'author-sorted-articles' node.author %}"
						title="Articles by {{ article.author.username }}">{{ node.author }}</a>
					<span class="date">- {{ node.date }}</span>
				</div>

				<!-- Content -->
				<div class="content preserve-linebreaks">{{ node.content|urlizetrunc:30 }}</div>

				<!-- Edit comment -->
				<div class="edit editor">
					<form method="post" autocomplete="off">{% csrf_token %}
						<!-- Textarea -->
						<textarea name="content" rows="2" required>{{ node.content }}</textarea>

						<!-- Scroll position and parent id -->
						<input type="hidden" name="id" value="{{ node.id }}">
						<input type="hidden" name="scroll_pos" value="{{ node.id }}">

						<!-- Submit button -->
						<button class="minimal button" type="submit" name="edit">Edit</button>
					</form>
				</div>

				{% if user.is_authenticated %}
				<!-- Comment buttons -->
				<div class="comment-btn-container">
					<!-- Reply -->
					<div class="minimal button reply toggle-btn">Reply</div>
					{% if user == article.author or user == node.author %}
					{% if user == node.author %}
					<!-- Edit -->
					<div class="minimal button edit toggle-btn">Edit</div>
					{% endif %}
					<!-- Delete -->
					<a href="{% url 'delete-comment' node.id %}" class="minimal danger button">Delete</a>
					{% endif %}
				</div>
				{% endif %}

				<!-- Reply to comment -->
				<div class="reply editor">
					<form method="post" autocomplete="off">{% csrf_token %}
						<!-- Textarea -->
						<textarea name="content" rows="2" placeholder='Reply to: "{{ node.content|truncatechars:25 }}"' required></textarea>

						<!-- Scroll position and parent id -->
						<input type="hidden" name="parent_id" value="{{ node.id }}">
						<input type="hidden" name="scroll_pos" value="{{ node.id }}">

						<!-- Submit button -->
						<button class="minimal button" type="submit" name="reply">Post</button>
					</form>
				</div>
			</div>

			{% if not node.is_leaf_node %}
			<ul class="children">
				{{ children }}
			</ul>
			{% endif %}
		</li>
		{% endrecursetree %}
	</ul>
	{% else %}
	<!-- No comments message -->
	<div class="subheading">No comments, yet.</div>
	{% endif %}

	{% if user.is_authenticated %}
	<!-- New comment -->
	<div class="new-comment-form">
		<form method="post" class="vertically-space-items">{% csrf_token %}
			<!-- Textarea -->
			<textarea name="content" rows="4" required autocomplete="off" placeholder="New comment..." class="closer-below"></textarea>

			<!-- Scroll position -->
			<input type="hidden" name="scroll_pos" value="comments">

			<!-- Submit button -->
			<div class="right-align-container">
				<button class="button" type="submit" name="comment">Comment</button>
			</div>
		</form>
	</div>
	{% endif %}
</fieldset>

{% if not user.is_authenticated %}
<div class="special compact card">
	<span class="text">Join the conversation - <a href="{% url 'login' %}?next={{ article.get_absolute_url }}#comments">Login</a> to comment.</span>
</div>
{% endif %}

<!-- Scroll to top button -->
<a href="#top" class="floating-btn scroll-top-btn" title="Back to Top">
	<i class="fas fa-angle-double-up"></i>
</a>

{% endblock %}