{% extends 'Blog/base.html' %}

{% load corkran_tags %}

{% block title %}Editor{% endblock %}
{% block description %}Corkran article editor.{% endblock %}

{% block content %}

<!-- New article -->
<fieldset class="card">
	<!-- Heading -->
	<legend class="heading">Editor</legend>
	
	<!-- Form -->
	<form class="vertically-space-items confirm-leave" id="article_form" method="post" autocomplete="off" enctype="multipart/form-data">{% csrf_token %}
		<!-- Form navigation -->
		<label>Go to:</label>
		<div>
			<div class="nowrap list-box blur-overflow compact-spacing">
				<a href="#content" class="small button">Article</a>
				<a href="#categorization" class="small button">Categorization</a>
				<a href="#image" class="small button">Image</a>
				<a href="#unsplash" class="small button">Unsplash Search</a>
			</div>
		</div>

		<!-- Title -->
		<div class="anchor" id="content"></div>
		<label>{{ form.title.label }}:</label>
		{{ form.title }}

		<!-- Content -->
		<label>{{ form.content.label }}:</label>
		{{ form.content }}

		<!-- Categories -->	
		<div class="anchor" id="categorization"></div>
		<label>{{ form.categories.label }}:</label>

		<div>
			<div class="list-box compact-spacing">
				{% for group in categories %}
				<div class="compact dropdown">
					<!-- Dropdown button -->
					<div class="solid minimal button dropdown-label category-group-label" id="{{ group.id }}_label">{{ group.name }}</div>
					
					<!-- Dropdown -->
					<div class="dropdown-content" id="{{ group.id }}_content">
						<div class="list-box compact-spacing category-container">
							{% for category in categories|get_item:group %}
							<div>
								<input type="checkbox" name="categories" class="category-select" value="{{ category.id }}" id="id_categories_{{ category.id }}" {% if category in form.instance.categories.all %}checked{% endif %}>
								<label for="id_categories_{{ category.id }}" class="single-line-text">{{ category.name }}</label>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>	

		<!-- Tags -->
		<label>Tags separated by commas:</label>
		{{ form.tags }}

		<!-- Tag suggestion box -->
		<div id="suggested_tags" style="display: none;">
			<fieldset class="card compact">
				<legend class="montserrat grey">Suggested Tags</legend>
				<div class="list-box compact-spacing">
					{% for tag in tags %}
					<div class="clickable tag">{{ tag }}</div>
					{% endfor %}
				</div>
			</fieldset>
		</div>

		<div class="anchor" id="image"></div>
		{% if form.instance.thumbnail %}
		<!-- Remove thumbnail -->
		<div>
			<input type="checkbox" name="thumbnail-clear" id="thumbnail-clear_id" style="display: inline-block;">
			<label for="thumbnail-clear_id">Remove thumbnail</label>
		</div>
		{% endif %}

		<!-- Upload thumbnail -->
		<label id="id_thumbnail_label">{% if article.thumbnail %}Change{% else %}Upload{% endif %} thumbnail: <span class="grey">no file selected</span></label>
		<div>
			<label id="thumbnail_button" for="id_thumbnail" class="small button"><i class="fas fa-upload"></i> Upload Image</label>
			<input type="file" name="thumbnail" accept="image/*" id="id_thumbnail">
		</div>

		<!-- Attribution -->
		<label>Image attribution: <span class="grey">(eg. Photo by "Name")</span></label> 
		<input type="text" name="attribution" maxlength="100" id="id_attribution" placeholder="Attribution or caption..." value="{{ form.instance.attribution }}">

		<!-- Submit button -->
		<div class="right-align-text">
			<button class="button" type="submit">Post</button>
		</div>
	</form>
</fieldset>

<!-- Integrated image search -->
<div class="anchor" id="unsplash"></div>
<fieldset class="card">
	<legend class="heading">Image Search</legend>
	<form id="unsplash_search_form" action="" autocomplete="off">
		<label for="">Find a high-quality image for your article:</label>
		<div class="input-bar">
			<input type="text" id="unsplash_search" placeholder="Search on Unsplash...">
			<button class="button" type="submit"><i class="fas fa-search"></i></button>
		</div>
	</form>
</fieldset>

{% endblock %}


{% block floating-button %}
<!-- Scroll to top button -->
<a href="#top" class="floating-btn scroll-top-btn" title="Back to Top">
	<i class="fas fa-chevron-up"></i>
</a>
{% endblock %}