{% extends 'Blog/base.html' %}

{% load corkran_tags %}

{% block title %}{% endblock %}

{% block content %}

<!-- Header special card -->
{% block header-card %}{% endblock %}


<!-- Search bar anchor -->
<div class="anchor" id="search_bar"></div>

<!-- Article search -->
<form autocomplete="off">
	<div id="article_search_container">
		<!-- Search bar -->
		<div class="input-bar">
			<input id="article_search_input" type="text" name="search" placeholder="Search{% block search-dialogue %}{% endblock %}..." value="{{ query }}" auto onfocus="smoothScrollTo('#search_bar')">
			<button class="button" type="submit"><i class="fas fa-search"></i></button>
		</div>

		<!-- Search suggestions -->
		<div id="search_suggestions">
			{% for category in search_suggestions %}
			<div id="suggestion_{{ category }}" class="search-suggestion-group" data-group-name="Search {{ category|title }}">
				<div class="list-box compact-spacing">
					{% for value in search_suggestions|get_item:category %}
					<a href="{{ value.1 }}" class="unselectable clickable single-line-text unformatted card word-card search-suggestion"><span class="montserrat">{{ value.0 }}</span></a>
					{% endfor %}
				</div>
			</div>
			{% endfor %}
			
			<!-- No suggestions message -->
			<div id="no_suggestions" class="grey">No suggestions found.</div>
		</div>
	</div>
</form>


{% if searched and articles %}
<!-- Search results counter -->
<div class="closer-below right-align-text grey">
	Result{% if page_obj.paginator.count != 1 %}s{% endif %} {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }}
</div>
{% endif %}


{% for article in articles %}
<!-- Article preview -->
<div class="article article-preview card">
	{% if article.thumbnail %}
	<!-- Thumbnail -->
	<div 
		data-href="https://ik.imagekit.io/f92sz8hl8b/{{ article.thumbnail.url }}" 
		data-srcset="
			https://ik.imagekit.io/f92sz8hl8b/{{ article.thumbnail.url }}?tr=w-1100 3000w, 
			https://ik.imagekit.io/f92sz8hl8b/{{ article.thumbnail.url }}?tr=w-880 1500w,
			https://ik.imagekit.io/f92sz8hl8b/{{ article.thumbnail.url }}?tr=w-700 1000w,
			https://ik.imagekit.io/f92sz8hl8b/{{ article.thumbnail.url }}?tr=w-500 600w"   
		data-sizes="100vw"
		class="progressive replace article-thumbnail">

		<!-- Blurred loader image -->
		<img src="https://ik.imagekit.io/f92sz8hl8b/{{ article.thumbnail.url }}?tr=w-300" class="preview" alt="Article Thumbnail">
	</div>
	{% endif %}

	<!-- Header -->
	<div class="header">
		<!-- Date -->
		<div class="date subheading">{{ article.date|date:"F jS, Y" }}</div>

		<!-- Title -->
		<div class="heading">
			<a href="{% url 'article-detail' article.id article.slug %}" class="unformatted"
				title='Read "{{ article.title }}"'>
				{{ article.title }}
			</a>
		</div>

		<!-- Author -->
		<div class="subheading">
			By
			<a href="{% url 'author-sorted-articles' article.author %}"
				title="Articles by {{ article.author.username }}">{{ article.author.username }}
			</a>
		</div>
	</div>

	<!-- Content container -->
	<a class="unformatted" href="{% url 'article-detail' article.id article.title %}" title='Read "{{ article.title }}"'>
		<!-- Content -->
		<div class="clickable">{{ article.content|urlizetrunc:30|truncatechars:1000|linebreaks }}</div>

		{% if article.content|length > 1000 %}
		<!-- Fade truncate -->
		<div class="fade"></div>
		{% endif %}
	</a>
</div>
{% empty %}

{% if searched %}
<!-- Empty search -->
{% block empty-search-card %}{% endblock %}

{% else %}

<!-- No articles and not a search -->
{% block no-articles-card %}{% endblock %}
{% endif %}

{% endfor %}


{% if page_obj.paginator.num_pages > 1 %}
<!-- Paginator -->
<div class="paginator">
	<!-- First page -->
	<a href="?{% param_replace page=1 %}" title="First Page" class="unformatted">
		<i class="fas fa-chevron-left"></i>
	</a>

	{% for page in page_obj.paginator.page_range|cut_page_range:page_obj.number %}
	{% if page == page_obj.number %}
	<!-- Current page -->
	<i class="current fas fa-map-marker-alt" title="Page {{ page_obj.number }}"></i>

	{% else %}
	
	<!-- Page link -->
	<a href="?{% param_replace page=page %}" title="Page {{ page }}" class="unformatted">{{ page }}</a>
	{% endif %}
	{% endfor %}

	<!-- Last Page -->
	<a href="?{% param_replace page=page_obj.paginator.num_pages %}" title="Last Page" class="unformatted">
		<i class="fas fa-chevron-right"></i>
	</a>
</div>
{% endif %}

{% endblock %}


{% block floating-button %}
{% if user.is_authenticated %}
<!-- New article button -->
<a href="{% url 'create-article' %}" class="floating-btn" title="New Article">
	<i class="fas fa-feather-alt"></i>
</a>
{% endif %}
{% endblock %}