{% extends 'Blog/article_list.html' %}

{% load corkran_tags %}

{% block title %}{{ author }}'s Articles{% endblock %}
{% block description %}{{ author }} has written {{ article_count }} {{ 'article'|pluralise:article_count }}, as of yet.{% endblock %}

{% block search-dialogue %} articles by {{ author }}{% endblock %}

{% block header_card %}
<!-- Header card -->
<div class="special card">
	<!-- Header -->
	<div class="header">
		<div class="heading">{{ author }}</div>
		<div class="subheading">... has written {{ article_count }} {{ 'article'|pluralise:article_count }}, as of yet.</div>
	</div>

	<!-- Author bio -->
	<div class="text">
		{% if author.profile.bio %}
		"{{ author.profile.bio|urlizetrunc:40 }}"
		{% else %}
		They seem to prefer the shadows. Or perhaps they're just too lazy to fill in their bio.
		{% endif %}
	</div>
</div>
{% endblock %}

{% block no_articles_card %}
<!-- No articles -->
<div class="special card">
	<!-- Header -->
	<div class="header">
		<div class="heading">They have naught to offer, it would seem.</div>
		<div class="subheading">Perhaps they content themselves with mere commenting. Do they even exist?</div>
	</div>

	<!-- Content -->
	<div class="text">Consider going <a href="{% url 'home' %}">home</a>, to find some writers that do indeed write, or if you're feeling especially motivated, <a href="{% url 'create-article' %}">write one yourself</a>.</div>
</div>
{% endblock %}

{% block additional_empty_search_text %}Or perhaps the author has not written what you're looking for.{% endblock %}