{% extends 'Blog/base.html' %}

{% load corkran_tags %}

{% block title %}All Categories{% endblock %}

{% block content %}

<!-- Header card -->
<div class="special card">
	<!-- Header -->
	<div class="header">
		<div class="heading">Categories</div>
		<div class="subheading">A list of all main category groups.</div>
	</div>
	
	<!-- Explanatory text -->
	<div class="text">
		Want more reliable categorization than tags? Try categories. Each main category has a number of subcategories under it. View all articles in a category, or go further down the hierarchy.
	</div>
</div>


<!-- Navigation dock -->
<div>
	<div class="nowrap list-box blur-overflow center-align normal-spacing">
		{% for category in articles %}
		{% if articles|get_item:category %}
		<a href="#{{ category.id }}" class="small button">{{ category.name }}</a>
		{% endif %}
		{% endfor %}
	</div>
</div>


{% for category in articles %}
{% if articles|get_item:category %}
<div class="anchor" id="{{ category.id }}"></div>
<fieldset class="card">
	<!-- Heading -->
	<legend class="heading">{{ category.name }}</legend>
	
	<!-- Latest eight articles under category -->
	<div class="responsive vertically-space-items">
		<div class="unselectable list-box compact-spacing">
			{% for article in articles|get_item:category %}
			<div class="article-widget">
				<!-- Article thumbnail -->
				<div 
					data-href="https://ik.imagekit.io/f92sz8hl8b/{{ article.thumbnail.url }}" 
					data-srcset="
					https://ik.imagekit.io/f92sz8hl8b/{{ article.thumbnail.url }}?tr=w-1500,h-1000,fo-auto 3000w, 
					https://ik.imagekit.io/f92sz8hl8b/{{ article.thumbnail.url }}?tr=w-900,h-600,fo-auto 1500w,
					https://ik.imagekit.io/f92sz8hl8b/{{ article.thumbnail.url }}?tr=w-840,h-560,fo-auto 1000w,
					https://ik.imagekit.io/f92sz8hl8b/{{ article.thumbnail.url }}?tr=w-570,h-380,fo-auto 600w"	  
					data-sizes="100vw" class="progressive replace article-widget-thumbnail darken-overlay image-container">
					
					<!-- Blurred loader image -->
					<img src="https://ik.imagekit.io/f92sz8hl8b/{{ article.thumbnail.url }}?tr=w-300,h-200,fo-auto" class="preview">
				
					<!-- Title overlay -->
					<a href="{{ article.get_absolute_url }}">
						<div class="cutout-overlay" data-vertical-truncator="4">{{ article.title }}</div>
					</a>
				</div>
			</div>
			{% endfor %}
		</div>
		
		<!-- See all articles or subcategories -->
		<div class="list-box nowrap blur-overflow right-align compact-spacing">
			<a href="{% url 'category-sorted-articles' category.slug %}" class="small button">All {{ category.name|lower }} articles</a>
			<a href="{% url 'subcategories' category.slug %}" class="split-item small button">Subcategories <i class="fas fa-sort-amount-down"></i></a>
		</div>
	</div>
</fieldset>
{% endif %}
{% endfor %}

{% endblock %}

{% block floating-button %}
<!-- Scroll to top button -->
<a href="#top" class="floating-btn scroll-top-btn" title="Back to Top">
	<i class="fas fa-chevron-up"></i>
</a>
{% endblock %}