{% extends 'Blog/base.html' %}

{% load corkran_tags %}

{% block title %}All Categories{% endblock %}
{% block description %}All article categories on Corkran.{% endblock %}

{% block content %}
<!-- Header card -->
<div class="special card">
	<!-- Header -->
	<div class="header">
		<div class="heading">Categories</div>
		<div class="subheading">A list of all main category groups.</div>
	</div>
	
	<!-- Explanatory text -->
	<div class="text">
		Want more reliable categorization than tags? Try categories. With topics ranging from fiction,
		to scholarly articles, you'll find that Corkran has it all. See a list of all active categories
		below, and see all articles in a category on the category's own page.
	</div>
</div>


<!-- Navigation dock -->
<div>
	<div class="nowrap list-box blur-overflow center-align normal-spacing button-container-wrapper">
		<div class="nowrap list-box compact-spacing button-container">
			{% for category in articles %}
			{% if articles|get_item:category %}
			<a href="#{{ category.id }}" class="small button">{{ category.name }}</a>
			{% endif %}
			{% endfor %}
		</div>
	</div>
</div>


{% for category in articles %}
{% if articles|get_item:category %}
<div class="anchor" id="{{ category.id }}"></div>
<fieldset class="card">
	<!-- Heading -->
	<legend class="heading">{{ category.name }}</legend>
	
	<div class="vertically-space-items">
		<!-- Category description -->
		<div class="grey montserrat text">{{ category.description }}</div>
		
		<!-- Latest eight articles under category -->
		<div class="responsive vertically-space-items">
			<div class="closer-below">
				{% article_widget_grid articles|get_item:category %}
			</div>
			
			<!-- See all articles or subcategories -->
			<div class="right-align-text">
				<a href="{{ category.get_absolute_url }}" class="split-item minimal no-border button">
					See all {{ category.name|lower }} articles
				</a>
			</div>
		</div>
	</div>
</fieldset>
{% endif %}
{% endfor %}
{% endblock %}

{% block floating-button %}
<!-- Scroll to top button -->
<a href="#top" class="floating-btn scroll-top-btn" title="Back to Top">
	<i class="fas fa-chevron-up"></i>
</a>
{% endblock %}