{% extends 'Blog/base.html' %}

{% block title %}Delete Comment"{% endblock %}

{% block content %}

<div class="card">
	<!-- Header -->
	<div class="header">
		<div class="heading">Are you sure you want to remove this comment?</div>
		<div class="subheading">In case you've forgotten, it begins "{{ object.content|truncatechars:25 }}"</div>
	</div>

	<!-- Delete or cancel -->
	<form method="post">{% csrf_token %}
		<div class="dual-option-container">
			<button class="danger button" type="submit">Delete</button>
			<a href="{% url 'article-detail' object.article.id object.article.slug %}" class="button">Cancel</a>
		</div>
	</form>
</div>

{% endblock %}