{% extends "blog/base.html" %}
{% block title %}Home{% endblock title %}
{% block latest %}
{% if posts %}
  <label>latest post: </label><a href="{% url 'post-detail' posts.first.id %}">{{ posts.first.title }}</a>
{% endif %}
{% endblock latest %}
{% block content %}
  {% include "blog/post_list.html" %}
{% endblock content %}
{% block newpost %}
  {% if user.is_authenticated %}
    <div class="new-post clickable card" onclick="location.href='{% url 'post-create'%}'""><i class="fas fa-plus"></i></div>
  {% endif %}
{% endblock newpost %}
