{% extends 'Blog/article_list.html' %}

{% load corkran_tags %}

{% block title %}Home{% endblock %}

{% block feature %}

<!-- Feature image -->
<div class="feature unselectable" style="background-image: url('{% if latest_article.thumbnail %} {{ latest_article.thumbnail.url }} {% else %} /media/defaults/feature.jpg {% endif %}');">
	<a href="{% latest_article_link %}" class="unformatted">
		<div class="overlay" data-vertical-truncator="3">A Certain Room In A Dimly Lit New York</div>
	</a>
</div>

{% endblock %}

{% block no-articles-card %}

<!-- No articles -->
<div class="special card">
	<!-- Header -->
	<div class="header">
		<div class="heading">No articles here, yet.</div>
		<div class="subheading">It would seem you'll have to wait a bit.</div>
	</div>

	<!-- Content -->
	<div class="text">Maybe consider heading over to the about page, or writing the first article yourself?</div>
</div>

{% endblock %}

{% block empty-search-card %}

<!-- Empty search -->
<div class="special card">
	<!-- Header -->
	<div class="header">
		<div class="heading">No Articles Found.</div>
		<div class="subheading">It's unlikely to be our fault.</div>
	</div>

	<!-- Content -->
	<div class="text">
		You should probaby check your search query. Things like "k3e#$%jbjvd" aren't likely to get you anywhere.
	</div>
</div>

{% endblock %}