{% extends 'Blog/article_list.html' %}

{% load corkran_tags %}

{% block title %}Home{% endblock %}

<!-- LATEST ARTICLE THUMBNAIL AS FEATURE IMAGE -->
{% block feature %}
{% if latest_article.thumbnail %}
<div class="feature" style="background-image: url('{{ latest_article.thumbnail.url }}');">
	<a href="{% latest_article_link %}" class="unformatted">
		<div class="cutout-text">{{ latest_article.title|truncatechars:40 }}</div>
	</a>
</div>
{% endif %}
{% endblock %}

{% block no-articles-card %}
<div class="special card">
	<!-- HEADER -->
	<div class="header">
		<div class="heading">No articles here, yet.</div>
		<div class="subheading">It would seem you'll have to wait a bit.</div>
	</div>

	<!-- CONTENT -->
	<div class="text">Maybe consider heading over to the about page, or writing the first article yourself?</div>
</div>
{% endblock %}

{% block empty-search-card %}
<div class="special card">
	<!-- HEADER -->
	<div class="header">
		<div class="heading">No Articles Found.</div>
		<div class="subheading">It's unlikely to be our fault.</div>
	</div>

	<!-- CONTENT -->
	<div class="text">You should probaby check your search query. Things like "k3e#$%jbjvd" aren't likely to get you
		anywhere.</div>
</div>
{% endblock %}