{% extends 'Blog/article_list.html' %}

{% block title %}Home{% endblock %}
{% block description %}The open blog.{% endblock %}

{% block feature %}
{% if featured_article %}

<!-- Feature image -->
<div 
	data-href="https://ik.imagekit.io/f92sz8hl8b{% if featured_article.thumbnail %}{{ featured_article.thumbnail.url }}{% else %}/media/defaults/feature.jpg{% endif %}" 
	data-srcset="
		https://ik.imagekit.io/f92sz8hl8b{% if featured_article.thumbnail %}{{ featured_article.thumbnail.url }}{% else %}/media/defaults/feature.jpg{% endif %}?tr=w-1650,h-550,fo-auto 3000w, 
		https://ik.imagekit.io/f92sz8hl8b{% if featured_article.thumbnail %}{{ featured_article.thumbnail.url }}{% else %}/media/defaults/feature.jpg{% endif %}?tr=w-1350,h-450,fo-auto 1500w,
		https://ik.imagekit.io/f92sz8hl8b{% if featured_article.thumbnail %}{{ featured_article.thumbnail.url }}{% else %}/media/defaults/feature.jpg{% endif %}?tr=w-900,h-300,fo-auto 800w,
		https://ik.imagekit.io/f92sz8hl8b{% if featured_article.thumbnail %}{{ featured_article.thumbnail.url }}{% else %}/media/defaults/feature.jpg{% endif %}?tr=w-750,h-250,fo-auto 600w"  
	data-sizes="100vw"
	class="progressive replace feature image-container unselectable darken-overlay">

	<!-- Blurred loader image -->
	<img src="https://ik.imagekit.io/f92sz8hl8b/{% if featured_article.thumbnail %}{{ featured_article.thumbnail.url }}{% else %}/media/defaults/feature.jpg{% endif %}?tr=w-300,h-100,fo-auto" class="preview">

	<!-- Overlay -->
	<a href="{{ featured_article.get_absolute_url }}" class="unformatted">
		<div class="cutout-overlay">
			<div class="feature-caption">Featured Article:</div>
			<div data-vertical-truncator="3">{{ featured_article.title }}</div>
		</div>
	</a>
</div>

{% if featured_article.attribution or not featured_article.thumbnail %}
<!-- Feature image attribution -->
<div class="attribution">{% if featured_article.thumbnail %}{{ featured_article.attribution|urlizetrunc:30 }}{% else %}Photo by Nahil Naseer on Unsplash{% endif %}</div>
{% endif %}

{% endif %}
{% endblock %}

{% block no-articles-card %}

<!-- No articles -->
<div class="special card">
	<!-- Header -->
	<div class="header">
		<div class="heading">No articles here, yet.</div>
		<div class="subheading">It would seem you'll have to wait a short while. Or a long while, we can't be sure.</div>
	</div>

	<!-- Content -->
	<div class="text">
		Consider heading over to the <a href="{% url 'about' %}">about</a> page, or 
		<a href="{% url 'create-article' %}">writing the first article yourself</a>.
	</div>
</div>

{% endblock %}

{% block empty-search-card %}

<!-- Empty search -->
<div class="special card">
	<div class="header">
		<div class="heading">No Articles Found.</div>
	</div>
	
	<div class="text">
		Consider reconsidering your search query. Queries resembling "k3e#$%jbjvd" are not likely to take 
		you very far.
	</div>
</div>

{% endblock %}