{% extends "blog/base.html" %}
{% load custom_tags %}
{% block title %}Home{% endblock title %}
{% block latest %}
  {% if posts %}
    <label>Latest Post: </label>{% latest_post %}
  {% endif %}
{% endblock latest %}
{% block content %}
  {% include "blog/post_list.html" %}
{% endblock content %}
{% block newpost %}
  {% if user.is_authenticated %}
    <div class="new-post clickable card" title="New Post" onclick="location.href='{% url 'post-create'%}'""><i class="fas fa-plus"></i></div>
  {% endif %}
{% endblock newpost %}
