{% extends 'Blog/article_list.html' %}

{% block title %}Library{% endblock %}

{% block search-dialogue %} your library {{ tag }}{% endblock %}

{% block header-card %}

<!-- Header card -->
<div class="special minimal card center-align-text">
	<div class="heading">The Library</div>
	<span class="montserrat text">You have {% if article_count > 0 %}{{ article_count }}{% else %}no{% endif %} article{% if article_count != 1 %}s{% endif %} in your library.</span>
</div>

{% endblock %}

{% block no-articles-card %}

<!-- No articles -->
<div class="special card">
	<!-- Header -->
	<div class="header">
		<div class="heading">It's quite empty here.</div>
		<div class="subheading">It's been said that an empty library is the devil's... library.</div>
	</div>

	<!-- Content -->
	<div class="text">Prove your non-demonaic origin by going <a href="{% url 'home' %}">home</a>, and finding something you like. They can't all be that bad, what?</div>
</div>

{% endblock %}

{% block empty-search-card %}

<!-- Empty search -->
<div class="special compact card center-align-text">
	<div class="heading">No Articles Found.</div>
	<span class="montserrat text">Consider reconsidering your search query. Queries resembling "k3e#$%jbjvd" are not likely to take you very far. Perhaps what you seek, lives not in your library. Try going <a href="{% url 'home' %}">home</a> and searching all articles. </span>
</div>

{% endblock %}