{% extends 'Blog/article_list.html' %}

{% load corkran_tags %}

{% block title %}Library{% endblock %}
{% block description %}Your personal collection of articles on Corkran.{% endblock %}

{% block search-dialogue %} your library {{ tag }}{% endblock %}

{% block header_card %}
<!-- Header card -->
<div class="special card">
	<!-- Header -->
	<div class="header">
		<div class="heading">The Library</div>
	</div>

	<!-- Library stats -->
	<div class="text">
		You have {{ article_count|text_if_zero }} {{ 'article'|pluralise:article_count }} 
		in your library. {% if article_count %}You have articles by {{ authors }} ~ 
		{{ latest_five }}...{% endif %}
	</div>
</div>
{% endblock %}

{% block no_articles_card %}
<!-- No articles -->
<div class="special card">
	<!-- Header -->
	<div class="header">
		<div class="heading">It's quite empty here.</div>
		<div class="subheading">It's been said that an empty library is the devil's... library.</div>
	</div>

	<!-- Content -->
	<div class="text">
		Prove your non-demonaic origin by going <a href="{% url 'home' %}">home</a>, 
		and finding something you like. They can't all be that bad, what?
	</div>
</div>
{% endblock %}

{% block additional_empty_search_text %}Or perhaps you simply haven't got what you want in your library. Try going <a href="{% url 'home' %}">home</a> and searching all articles.{% endblock %}