{% load static %}
<!-- Main Box -->
<div class="navbar-box unselectable">
  <!-- Navbar Grid -->
  <div class="navbar">
    <!-- Home Button -->
    <div class="navbar-button clickable" onclick="location.href='{% url 'blog-home'%}'"><span>Home</span></div>
    <!-- About Button -->
    <div class="navbar-button clickable" onclick="location.href='{% url 'blog-about'%}'"><span>About</span></div>
    <!-- About Button -->
    <div class="navbar-button announcements clickable" onclick="location.href='{% url 'blog-announcements'%}'"><span>Announcements</span></div>
    <!-- Website Icon -->
    <img src="{% if user.setting.dark_mode %}
                {% static 'blog/corkran_icon_light.png' %}
              {% else %}
                {% static 'blog/corkran_icon_dark.png' %}
              {% endif %}"
         class="website-icon clickable"
         onclick="location.href='{% url 'blog-home'%}'">
    <!-- Responsive Menu Button -->
    <div class="navbar-button clickable expand-btn">Menu</div>
    <!-- Profile & Logout or Register & Login -->
    {% if user.is_authenticated %}
      <div class="navbar-button clickable" onclick="location.href='{% url 'profile'%}'"><span>Profile</span></div>
      <div class="navbar-button clickable" onclick="location.href='{% url 'logout'%}'"><span>Logout</span></div>
    {% else %}
      <div class="navbar-button clickable" onclick="location.href='{% url 'register'%}'"><span>Register</span></div>
      <div class="navbar-button clickable" onclick="location.href='{% url 'login'%}'"><span>Login</span></div>
    {% endif %}
  </div>
</div>
