{% load custom_tags %}

<!-- Paginator -->
{% include "blog/paginator.html" %}

{% if posts %}
  {% if is_search == True %}
    <div class="results-counter">
      Results {% results_counter posts.count page_obj.number %} of {{page_obj.paginator.count}}
    </div>
  {% endif %}
{% endif %}

<div class="posts">
  {% if posts %}
    {% for post in posts %}
      <div class="post post-preview card">
        <div class="header">
          <img class="profile-pic" src="{{ post.author.profile.profile_image.url }}" alt="profile_picture">
          <div class="heading"><a href="{% url 'post-detail' pk=post.id slug=post.slug %}" title="{{post.title}} - {{post.author}}">{{post.title}}</a></div>
          <div class="subheading">By <a href="{% url 'user-posts' post.author.username %}" title="{{ post.author }}'s Posts">{{post.author}}</a> on {{post.date|date:"F jS, Y"}} -<label>&nbsp{{post.comment_set.count}}&nbspComment(s)</label></div>
        </div>
        <div class="truncate-post clickable" title="Full Post" onclick="location.href='{% url "post-detail" pk=post.id slug=post.slug %}'">{{ post.content|safe }}</div>
      </div>
    {% endfor %}
  {% else %}
    <div class="card">
      <div class="header">
        <div class="heading">Eh, what?</div>
        <div class="subheading">What you seek, simply put, does not exist.</div>
      </div>
      <p>Head over to the <a href="{% url 'blog-about' %}">about</a> page, perhaps? Or not?</p>
    </div>
  {% endif %}
</div>

<!-- Paginator -->
{% include "blog/paginator.html" %}

<script type="text/javascript">
  $(document).ready(function(){
    $(function(){
      if ($(window).width() >= 1200) {
        $('.truncate-post').succinct({
            omission: '...&nbsp<span class="read-more">Read&nbspMore</span>',
            size: 500
        });
      } else {
        $('.truncate-post').succinct({
            omission: '...&nbsp<span class="read-more">Read&nbspMore</span>',
            size: 200
        });
      }
    });
  });
</script>
