{% extends "blog/base.html" %}
{% load custom_tags %}
{% block title %}{{object.title}}{% endblock title %}
{% block content %}
  <!-- Main Post -->
  <div class="post card">
    <div class="header">
      <img class="profile-pic" src="{{ post.author.profile.profile_image.url }}" alt="profile_picture">
      <div class="heading">{{object.title}}</div>
      <div class="subheading">By <a href="{% url 'user-posts' object.author.username %}">{{post.author}}</a> on {{object.date}}</div>
    </div>
    <div>{{ object.content|safe }}</div>
  </div>
  <!-- Comment Form -->
  {% if user.is_authenticated %}
    <form method="POST">
      {% csrf_token %}
      <fieldset class="card">
        <legend>Comment</legend>
        <div class="comment-box">
          <textarea name="content" rows="1" required id="id_content"></textarea>
          <button type="submit" name="button" class="button invert-color" title="Post Comment">Post</button>
        </div>
      </fieldset>
    </form>
  {% endif %}
  <!-- Comments -->
  <div class="card comments">
    <!-- Header -->
    <div class="header">
      <div class="heading">
        Comments ({{ object.comment_set.count }})
      </div>
      <div class="subheading">
        Comments by other users for this post.
      </div>
    </div>
    <!-- Comment List -->
    {% if object.comment_set.count > 0 %}
      {% for comment in object.comment_set.all %}
        <div class="comment">
          <div class="date">({{ comment.date|date:"F jS, Y" }})</div>
          <div class="author"><a href="{% url 'user-posts' comment.user.username %}">{{ comment.user }}</a>:</div>
          <div class="text"><p>"{{ comment.content }}"</p></div>
          <div class="trash-icon clickable">
            {% if user == object.author or user == comment.user %}
              <i class="far fa-trash-alt trash-icon" title="Delete Comment" onclick="location.href='{% url 'comment-delete' comment.id %}'"></i>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    {% else %}
      <!-- No Comments Placeholder Text -->
      No comments... yet
    {% endif %}
  </div>
  <!-- Delete/Update Post -->
  {% if user == object.author %}
    <div class="card">
      <div class="confirm-buttons">
        <a href="{% url 'post-update' object.id %}" class="button" title="Update Post">Update</a>
        <a href="{% url 'post-delete' object.id %}" class="button danger" title="Delete Post">Delete</a>
      </div>
    </div>
  {% endif %}
{% endblock content%}
