{% load custom_tags %}
<div class="sidebar card">
  <!-- Header -->
  <div class="header">
    <div class="heading">
      Savoir
    </div>
    <div class="subheading">
      Important blog updates
    </div>
  </div>
  <!-- Information -->
  <div class="information">
    {% if posts %}
      <div class="latest-posts">
          {% if view.kwargs.username %}
            <label>{{view.kwargs.username}}'s Latest: </label>{% user_latest_post view.kwargs.username %}
          {% else %}
            <label>Latest Post: </label>{% latest_post %}
          {% endif %}
      </div>
    {% endif %}
    <div class="announcements">
      <label><a href="{% url 'blog-announcements' %}">Announcements:</a> </label>
      {% announcement %}
    </div>
  </div>
</div>
