{% extends 'Blog/article_list.html' %}

{% block title %}Articles tagged with {{ tag }}{% endblock %}
{% block description %}{{ article_count }} article{% if article_count != 1 %}s are{% else %} is{% endif %} tagged with {{ tag }}.{% endblock %}


{% block search-dialogue %} articles tagged with {{ tag }}{% endblock %}

{% block header-card %}

<!-- Header card -->
<div class="special card">
	<div class="header">
		<div class="heading">"{{ tag }}" Articles</div>
	</div>

	<div class="text">
		{{ article_count }} article{% if article_count != 1 %}s are{% else %} is{% endif %} tagged with 
		"{{ tag }}". {{ authors }} ha{% if author_count > 1 %}ve{% else %}s{% endif %} written articles
		with this tag ~ {{ latest_five }}...
	</div>
</div>

{% endblock %}

{% block empty-search-card %}

<!-- Empty search -->
<div class="special card">
	<div class="header">
		<div class="heading">No Articles Found.</div>
	</div>
	
	<div class="text">
		Consider reconsidering your search query. Queries resembling "k3e#$%jbjvd" are not likely to take 
		you very far.
	</div>
</div>

{% endblock %}