{% extends "blog/base.html" %}
{% block title %}Posts By {{ view.kwargs.username }}{% endblock title %}
{% block latest %}{{ posts.first.title }}{% endblock latest %}
{% block content %}
  <div class="card special">
    <div class="header">
      <div class="heading">
        Posts by {{ view.kwargs.username }}
      </div>
      <div class="subheading">
        Read everything {{ view.kwargs.username }} has posted until now.
      </div>
    </div>
    {{ view.kwargs.username }} has {{ page_obj.paginator.count }} post(s).
  </div>
  {% include "blog/post_list.html" %}
{% endblock content %}
