{% extends 'Blog/base.html' %}
{% load corkran_tags %}

{% block title %}Account Settings{% endblock %}
{% block description %}Edit your profile, and manage your preferences.{% endblock %}

{% block content %}
<!-- Header card -->
<div class="special card">
	<!-- Header -->
	<div class="header">
		<div class="heading">Account Settings</div>
	</div>
	
	<!-- Description -->
	<div class="text">
		Edit your profile, manage your preferences, or change your password.
	</div>
</div>


<!-- Navigation dock -->
<div>
	<div id="navigation" class="anchor"></div>
	<div class="nowrap list-box horizontal blur-overflow center-align normal-spacing button-container-wrapper">
		<div class="nowrap list-box compact-spacing button-container">
			<a href="#profile" class="small button">Edit your profile</a>
			<a href="#site_settings" class="small button">Update your settings</a>
			<a href="#password" class="small button">Change your password</a>
		</div>
	</div>
</div>


<!-- Profile anchor -->
<div id="profile" class="anchor"></div>

<!-- Profile update container -->
<fieldset class="card">
	<!-- Heading -->
	<legend class="heading">Profile</legend>

	<form class="vertically-space-items confirm-leave" method="post" enctype="multipart/form-data">{% csrf_token %}
		<!-- User info update form -->
		{% simple_error_form user_form%}

		<!-- Profile update form -->
		{% simple_error_form profile_form%}

		<!-- Submit button -->
		<div class="right-align-text">
			<button class="button" type="submit" name="update_profile">Update</button>
		</div>
	</form>
</fieldset>


<!-- Site settings anchor -->
<div id="site_settings" class="anchor"></div>

<!-- Site settings container -->
<fieldset class="card">
	<!-- Heading -->
	<legend class="heading">Settings</legend>

	<div class="vertically-space-items">
		<!-- Site settings form -->
		<form method="post" class="vertically-space-items">{% csrf_token %}
			<div class="closer-below">
				{{ settings_form.dark_theme }}
				<label for="id_dark_theme">Dark mode</label>
			</div>

			<div>
				{{ settings_form.email_notifications }}
				<label for="id_email_notifications">Email notifications</label>
			</div>
			
			<input type="hidden" name="update_settings">
		</form>
	</div>
</fieldset>


<!-- Password anchor -->
<div id="password" class="anchor"></div>

<!-- Change password container -->
<fieldset class="card">
	<!-- Heading -->
	<legend class="heading">Password</legend>

	<form class="vertically-space-items" method="post">{% csrf_token %}
		<!-- Password form -->
		{% simple_error_form password_form%}

		<!-- Submit button -->
		<div class="right-align-text">
			<button class="button" type="submit" name="change_password">Update Password</button>
		</div>
	</form>
</fieldset>


<!-- Account deletion container -->
<fieldset class="card">
	<!-- Heading -->
	<legend class="red heading">Danger!</legend>

	<!-- Link to delete page -->
	<a href="{% url 'confirm-delete-user' %}" class="danger button">Delete Account</a>
</fieldset>


{% if anchor %}
<!-- Autoscroll to anchor -->
<script type='text/javascript'>window.location = '#{{ anchor }}';</script>
{% endif %}
{% endblock %}

{% block floating-button %}
<!-- Scroll to top button -->
<a href="#navigation" class="floating-btn scroll-top-btn" title="Back to Top">
	<i class="fas fa-chevron-up"></i>
</a>
{% endblock %}