{% extends 'Blog/base.html' %}

{% block title %}Account Settings{% endblock %}

{% block content %}

<!-- Header card -->
<div class="special card">
	<div class="header">
		<div class="heading">Account Settings</div>
	</div>
	
	<div class="text">
		Edit your profile, manage your preferences, or change your password.
	</div>
</div>


<!-- Navigation dock -->
<div>
	<div class="nowrap list-box blur-overflow center-align normal-spacing">
		<a href="#profile" class="small button">Edit your profile</a>
		<a href="#email" class="small button">Email settings</a>
		<a href="#password" class="small button">Change your password</a>
	</div>
</div>


<!-- Offset anchor -->
<div id="profile" class="anchor"></div>

<!-- Profile update container -->
<fieldset class="card">
	<!-- Heading -->
	<legend class="heading">Profile</legend>

	<form class="vertically-space-items confirm-leave" method="post" enctype="multipart/form-data">{% csrf_token %}
		<!-- User info update form -->
		{{ user_form.as_table }}

		<!-- Profile update form -->
		{{ profile_form.as_table }}

		<!-- Submit button -->
		<div class="right-align-text">
			<button class="button" type="submit" name="update_profile">Update</button>
		</div>
	</form>
</fieldset>


<!-- Offset anchor -->
<div id="email" class="anchor"></div>

<!-- Change password container -->
<fieldset class="card">
	<!-- Heading -->
	<legend class="heading">Email Settings</legend>

	<!-- Password form -->
	<form method="post">{% csrf_token %}
		<div>
			{{ email_form.email_notifications }}
			<label for="id_email_notifications">Email notifications</label>
			<input type="hidden" name="update_email_notifications">
		</div>
	</form>
</fieldset>


<!-- Offset anchor -->
<div id="password" class="anchor"></div>

<!-- Change password container -->
<fieldset class="card">
	<!-- Heading -->
	<legend class="heading">Password</legend>

	<form class="vertically-space-items" method="post">{% csrf_token %}
		<!-- Password form -->
		{{ password_form.as_table }}

		<!-- Submit button -->
		<div class="right-align-text">
			<button class="button" type="submit" name="change_password">Update Password</button>
		</div>
	</form>
</fieldset>


<!-- Offset anchor -->
<div id="delete" class="anchor"></div>

<!-- Account deletion container -->
<fieldset class="card">
	<!-- Heading -->
	<legend class="heading">Danger!</legend>

	<a href="{% url 'delete-user' user.id %}" class="danger button">Delete Account</a>
</fieldset>

{% endblock %}


{% block floating-button %}
<!-- Scroll to top button -->
<a href="#top" class="floating-btn scroll-top-btn" title="Back to Top">
	<i class="fas fa-chevron-up"></i>
</a>
{% endblock %}