{% extends 'Blog/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<Fieldset class="card">
	<!-- Heading -->
	<legend class="heading">Log In</legend>

	<!-- Form -->
	<form class="vertically-space-items" method="post">{% csrf_token %}
		{{ form.as_table }}
		<div class="right-align-container">
			<button class="button" type="submit">Log In</button>
		</div>
		<div class="montserrat grey">Forgot your password? <a href="{% url 'password-reset' %}">Ask for a new one</a>.</div>
	</form>
</Fieldset>

<!-- Portal card -->
<div class="special compact card">
	<div class="text">
		Don't already have an account? <a href="{% url 'registration' %}">Register</a>.<br>
	</div>
</div>

{% endblock %}