{% extends 'Blog/base.html' %}

{% block title %}Password Reset Initiated{% endblock %}

{% block content %}

<!-- Password reset initiated -->
<div class="special card">
	<!-- Header -->
	<div class="header">
		<div class="heading">Email Sent.</div>
		<div class="subheading">We've emailed you the password reset link.</div>
	</div>

	<!-- Content -->
	<div class="text">
        Provided an account exists with the email you entered, you should receive it shortly. 
        If you don't receive an email, please make sure you've entered the address you registered with, 
        and check your spam folder.
	</div>
</div>

{% endblock %}