{% extends 'Blog/base.html' %}

{% block title %}Password Reset Done{% endblock %}

{% block content %}

<!-- Password reset done -->
<div class="special card">
	<!-- Header card -->
	<div class="header">
		<div class="heading">Done.</div>
		<div class="subheading">You've successfully overcome the disasters of memory loss.</div>
	</div>

	<!-- Content -->
	<div class="text">
		You may now proceed to <a href="{% url 'login' %}">log in</a>, provided you haven't forgotten your new password
		already.
	</div>
</div>

{% endblock %}