{% extends 'Blog/base.html' %}

{% block title %}Password Reset Form{% endblock %}

{% block content %}

{% if validlink %}
<!-- Change password -->
<fieldset class="card">
	<!-- Heading -->
	<legend class="heading">Password Change</legend>

	<form class="vertically-space-items" method="post">{% csrf_token %}
		<!-- Form -->
		{% for field in form.visible_fields %}
		<label>{{ field.label }}:</label>
		{{ field }}
		{% endfor %}

		<!-- Submit button -->
		<div class="right-align-text">
			<button type="submit" class="button">Change Password</button>
		</div>
	</form>
</fieldset>
{% else %}
<!-- Invalid link -->
<div class="special card">
	<!-- Header -->
	<div class="header">
		<div class="heading">Invalid Link</div>
		<div class="subheading">Are you quite certain that was the right link?</div>
	</div>

	<!-- Content -->
	<p>
		The password reset link was invalid, possibly because it has already been used.
		Please request a new password reset.
	</p>
</div>
{% endif %}

{% endblock %}