{% extends 'Blog/base.html' %}

{% block title %}Password Reset{% endblock %}

{% block content %}

<fieldset class="card">
	<!-- LEGEND -->
	<legend class="heading">Password Reset</legend>

	<form method="post">{% csrf_token %}
		<!-- EMAIL FORM -->
		{% for field in form %}
			<label for="id_email">Associated Email Account:</label>
			{{ field }}
		{% endfor %}

		<!-- SUBMIT BUTTON -->
		<div class="submit-btn-container">
			<button type="submit" class="button">Request Reset</button>
		</div>
	</form>
</fieldset>

{% endblock %}