{% autoescape off %}

You seem to have forgotten your password. News to you? Well, someone's making an attempt on your account, then. But worry not, they won't get it. Feel free to ignore this. If, however, it was you...
<br><br>
To initiate the password reset process for your {{ user.get_username }} Corkran Account, click the link below:
<br><br>
{{ protocol }}://{{ domain }}{% url 'password-reset-confirm' uidb64=uid token=token %}
<br><br>
If clicking the link above doesn't work, copy and paste the URL in a new browser window instead.
<br><br>
<em>
	Sincerely,<br>
	The Corkran Blog
</em>

{% endautoescape %}