{% extends 'Blog/base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

<!-- Header card -->
<div class="special card">
	<!-- Header -->
	<div class="header">
		<div class="heading">"{{ user.username }}"</div>
		<div class="subheading">That's your identity here on Corkran.</div>
	</div>

	<!-- Bio -->
	<div class="text">
		{% if user.profile.bio %}
		<i class="fas fa-quote-left"></i>
		{{ user.profile.bio|urlizetrunc:40 }}&nbsp;
		<i class="fas fa-quote-right"></i>
		{% else %}
		You don't have a bio, yet. Consider writing one, for the sake of context. 
		Or, if you're strongly of the opinion that your writing speaks for itself, 
		you might as well leave it blank. Just write your bio.
		{% endif %}
	</div>
</div>


<!-- Navigation dock -->
<div class="minimal card">
	<div class="nowrap list-box center-align compact-spacing">
		<a href="#profile" class="small button">Edit your profile</a>
		<a href="#articles" class="small button">Your articles</a>
		<a href="#tags" class="small button">Your articles' tags</a>
		<a href="#password" class="small button">Change your password</a>
		<a href="#delete" class="small danger button">Delete account</a>
	</div>
</div>


<!-- Offset anchor -->
<div id="profile" class="offset anchor"></div>

<!-- Profile update container -->
<fieldset class="card">
	<!-- Heading -->
	<legend class="heading">Profile</legend>

	<form class="vertically-space-items confirm-leave" method="post" enctype="multipart/form-data">{% csrf_token %}
		<!-- User info update form -->
		{{ user_form.as_table }}

		<!-- Profile update form -->
		{{ profile_form.as_table }}

		<!-- Submit button -->
		<div class="right-align-container">
			<button class="button" type="submit">Update</button>
		</div>
	</form>
</fieldset>


<!-- Offset anchor -->
<div id="articles" class="offset anchor"></div>

<!-- Articles by user -->
<fieldset class="card">
	<!-- Heading -->
	<legend class="heading">Articles</legend>

	<div class="vertically-space-items">
		<!-- Subheading -->
		<div class="subheading closer-below">Your articles on Corkran.</div>

		<!-- Articles list -->
		<div class="list-box generous-spacing">
			{% for article in articles %}
			<a class="unformatted single-line-text minimal card" href="{{ article.get_absolute_url }}">
				<span class="montserrat">"{{ article.title }}"</span>
			</a>
			{% endfor %}
		</div>
	</div>
</fieldset>


<!-- Offset anchor -->
<div id="tags" class="offset anchor"></div>

<!-- Tags -->
<fieldset class="card">
	<!-- Heading -->
	<legend class="heading">Tags</legend>
	
	<div class="vertically-space-items">
		<!-- Subheading -->
		<div class="subheading closer-below">All the tags you have on your articles.</div>

		<!-- Tags list -->
		<div class="list-box compact-spacing">
			{% for tag in tags %}
			<a class="single-line-text tag" href="{% url 'tag-sorted-articles' tag %}">{{ tag }}</a>
			{% endfor %}
		</div>
	</div>
</fieldset>


<!-- Offset anchor -->
<div id="password" class="offset anchor"></div>

<!-- Change password container -->
<fieldset class="card">
	<!-- Heading -->
	<legend class="heading">Password</legend>

	<form class="vertically-space-items" method="post">{% csrf_token %}
		<!-- Password form -->
		{{ password_form.as_table }}

		<!-- Submit button -->
		<div class="right-align-container">
			<button class="button" type="submit" name="change_password">Update Password</button>
		</div>
	</form>
</fieldset>


<!-- Offset anchor -->
<div id="delete" class="offset anchor"></div>

<!-- Account deletion container -->
<fieldset class="card">
	<!-- Heading -->
	<legend class="heading">Danger!</legend>

	<a href="{% url 'delete-user' user.id %}" class="danger button">Delete Account</a>
</fieldset>


<!-- Scroll to top button -->
<a href="#top" class="floating-btn scroll-top-btn" title="Back to Top">
	<i class="fas fa-angle-double-up"></i>
</a>

{% endblock %}