{% extends 'Blog/base.html' %}

{% load corkran_tags %}

{% block title %}Profile{% endblock %}
{% block description %}View your profile and activity.{% endblock %}

{% block content %}
<!-- Header card -->
<div class="special card">
	<!-- Header -->
	<div class="header">
		<div class="heading single-line-text">{{ user }}</div>
		<div class="subheading">{{ subscriber_count }} user{% if subscriber_count == 1 %} has{% else %}s have{% endif %} subscribed to you.</div>
	</div>
	
	<!-- User bio -->
	<div class="text">
		{% if user.profile.bio %}
		"{{ user.profile.bio|urlizetrunc:40 }}"
		{% else %}
		You don't have a bio, yet. Consider writing one, for the sake of context. 
		Or, if you're strongly of the opinion that your writing speaks for itself, 
		you might as well leave it blank. Just write your bio.
		{% endif %}
	</div>
</div>


<!-- Navigation dock -->
<div>
	<div class="nowrap list-box blur-overflow center-align normal-spacing">
		<a href="#articles" class="small button">Articles you've written</a>
		<a href="#tags" class="small button">Tags you've used</a>
		<a href="#subscriptions" class="small button">Authors you're subscribed to</a>
	</div>
</div>
	

<!-- Articles anchor -->
<div id="articles" class="anchor"></div>

<!-- Articles by user -->
<fieldset class="card">
	<!-- Heading -->
	<legend class="heading">Articles</legend>

	<div class="vertically-space-items">
		<!-- Subheading -->
		<div class="grey montserrat text">
			All the articles you've ever written on Corkran, from the most recent, to the oldest.
		</div>

		<!-- Articles list -->
		{% if articles %}
		{% article_widget_grid articles %}
		
		{% else %}

		<div class="special word-card card">
			<span>You haven't written any articles yet. Consider <a href="{% url 'create-article' %}">writing one now</a>.</span>
		</div>
		{% endif %}
	</div>
</fieldset>


<!-- Tags anchor -->
<div id="tags" class="anchor"></div>

<!-- Tags -->
<fieldset class="card">
	<!-- Heading -->
	<legend class="heading">Tags</legend>
	
	<div class="vertically-space-items">
		<!-- Subheading -->
		<div class="grey montserrat text">
			All the tags on your articles, in order of the number of times you've used each tag.
		</div>

		<!-- Tags list -->
		<div class="list-box compact-spacing">
			{% for tag in tags %}
			<!-- Tag -->
			<a class="single-line-text tag" href="{% url 'tag-sorted-articles' tag %}">{{ tag }}</a>
			
			{% empty %}
			
			<div class="special word-card card">
				<span>You haven't written any articles yet. Consider <a href="{% url 'create-article' %}">writing one now</a>.</span>
			</div>
			{% endfor %}
		</div>
	</div>
</fieldset>


<!-- Subscriptions anchor -->
<div id="subscriptions" class="anchor"></div>

<!-- Subscriptions -->
<fieldset class="card">
	<!-- Heading -->
	<legend class="heading">Subscriptions</legend>
	
	<div class="vertically-space-items">
		<!-- Subheading -->
		<div class="grey montserrat text">
			All the authors on Corkran you've subscribed to.
		</div>

		<!-- Tags list -->
		<div class="list-box compact-spacing">
			{% for author in subscribed_authors %}
			<!-- Author name card -->
			<a class="unformatted single-line-text card word-card" href="{% url 'author-sorted-articles' author %}">
				<span class="montserrat text">{{ author.username }}</span>
			</a>

			{% empty %}

			<div class="special word-card card">
				<span>You haven't subscribed to any authors yet. <a href="{% url 'author-sorted-articles' random_user %}">Find an author you like</a>.</span>
			</div>
			{% endfor %}
		</div>
	</div>
</fieldset>
{% endblock %}

{% block floating-button %}
<!-- Scroll to top button -->
<a href="#top" class="floating-btn scroll-top-btn" title="Back to Top">
	<i class="fas fa-chevron-up"></i>
</a>
{% endblock %}