{% extends 'Blog/base.html' %}

{% block title %}Registration{% endblock %}
{% block description %}New Corkran user registration.{% endblock %}

{% block content %}

<!-- Registration container -->
<fieldset class="card">
	<!-- Heading -->
	<legend class="heading">Register</legend>
	
	<form class="vertically-space-items" method="post">{% csrf_token %}
		<!-- Form -->
		{{ form.as_table }}

		<!-- Submit button -->
		<div class="right-align-text">
			<button class="button" type="submit">Register</button>
		</div>
	</form>
</fieldset>

<!-- Portal card -->
<div class="special word-card card">
	<div class="montserrat text">Already have an account? <a href="{% url 'login' %}">Login</a>.</div>
</div>

{% endblock %}