{% extends 'Blog/base.html' %}

{% load corkran_tags %}

{% block title %}Mailbox{% endblock %}

{% block content %}

<!-- Header card -->
<div class="special minimal card center-align-text">
	<div class="heading">The Mailbox</div>
	<span class="montserrat text">You have {% if unread|length > 0 %}{{ unread|length }}{% else %}no{% endif %} unread mail.</span>
</div>


{% if mailbox.count %}
<!-- Offset anchor -->
<div class="anchor" id="mail_filter_anchor"></div>

<!-- Filter dock -->
<div class="minimal card" id="mail_filter">
	<div class="nowrap list-box blur-overflow normal-spacing" id="mail_filter_checkbox_container">
		<!-- Filter new comments -->
		<div>
			<input type="checkbox" id="new_comment" autocomplete="off">
			<label for="new_comment"class="single-line-text">Comments</label>
		</div>

		<!-- Filter new comments -->
		<div>
			<input type="checkbox" id="new_article" autocomplete="off">
			<label for="new_article"class="single-line-text">Articles</label>
		</div>
	</div>

	<!-- Clear filters -->
	<div class="minimal danger button split-item" id="clear_mail_filters">Clear Filters</div>
</div>
{% endif %}


<!-- Mailbox -->
<div id="mailbox" class="vertically-space-items responsive">
	{% for mail in mailbox %}
	<div class="compact card mail {{ mail|to_class_name }} {% if mail in unread %}unread{% endif %}">
		<!-- Heading and date -->
		<div class="mail-header">
			<span class="mail-heading">{{ mail.heading }}</span>
			<span class="text montserrat grey split-item"> ~ {{ mail.date|date:"F jS, Y, g:i a" }}</span>
		</div>

		<!-- Body -->
		<div class="mail-content text montserrat grey">
			{% if mail|to_class_name == "new_comment_mail" %}

			<!-- New reply mail -->
			{% if mail.comment.parent %}
			<a href="{% url 'author-sorted-articles' mail.comment.author %}">{{ mail.comment.author }}</a> replied to	
			<span class="bold">"{{ mail.comment.parent.content|truncatechars:100 }}"</span> with
			<span class="bold">"<a href="{{ mail.article.get_absolute_url }}#{{ mail.comment.id }}" title="View reply">{{ mail.comment.content|truncatechars:100 }}</a>"</span>
			on <a href="{{ mail.article.get_absolute_url }}" title="Go to article">{{ mail.article.title }}</a>
			{% else %}
			
			<!-- New comment on article mail -->
			<a href="{% url 'author-sorted-articles' mail.comment.author %}">{{ mail.comment.author }}</a> commented
			<span class="bold">"<a href="{{ mail.article.get_absolute_url }}#{{ mail.comment.id }}" title="View comment">{{ mail.comment.content|truncatechars:100 }}</a>"</span>
			on <a href="{{ mail.article.get_absolute_url }}" title="Go to article">{{ mail.article.title }}</a>
			{% endif %}

			<!-- New article mail -->
			{% elif mail|to_class_name == "new_article_mail" %}
			<a href="{% url 'author-sorted-articles' mail.article.author %}">{{ mail.article.author }}</a> wrote 
			<span class="bold">"<a href="{{ mail.article.get_absolute_url }}" title="Go to article">{{ mail.article.title }}</a>"</span>.
			A short preview: "{{ mail.article.content|truncatewords:50}}"
			{% endif %}
		</div>

		<br>

		<!-- Delete button -->
		<div class="right-align-text">
			<form method="POST" action="{% url 'delete-mail' mail.id %}">{% csrf_token %}
				<input type="submit" class="minimal danger button" value="Discard">
			</form>
		</div>
	</div>		
	{% empty %}
	<!-- No messages card -->
	<div class="special card">
		<div class="header">
			<div class="heading">No Mail.</div>
			<div class="subheading">It's damp, dark, and a little rusty. Might rain today.</div>
		</div>
		<div class="text">
			It would seem that you have an empty mailbox. Perhaps you've discarded all your mail, or maybe there's
			just nothing happening. Might as well wait for a while.
		</div>
	</div>
	{% endfor %}


	<!-- No messages in selected filter(s) card -->
	<div class="special compact card center-align-text" style="display: none;" id="empty_filtered_mail">
		<div class="heading">No Matches.</div>
		<span class="montserrat text">None of your mail matches any of the filters you've enabled. Clear your filters to view all mail.</span>
	</div>
</div>

{% endblock %}