{% extends "blog/base.html" %}
{% block title %}Login{% endblock title %}
{% block content %}
  <form method="POST">
    {% csrf_token %}
    <fieldset class="card margin-bottom">
      <legend>Log In</legend>
      {{ form.as_ul }}
      <button type="submit" name="button" class="button bottom invert-color right">Login <i class="fas fa-sign-in-alt"></i></button>
    </fieldset>
  </form>
  <span><a href="{% url 'register'%}">Create a new account?</a> Or have you <a href="{% url 'password_reset'%}">forgotten your password?</a></span>
{% endblock content%}
