{% extends "blog/base.html" %}
{% block title %}Password Reset Successfully{% endblock title %}
{% block content %}
  <div class="card special">
    <div class="header">
      <div class="heading">Password Reset Successfully</div>
      <div class="subheading">Your password is now your new password. Your new password is your current password. Your password is your password.</div>
    </div>
    You can now <a href="{% url 'login'%}">login</a> (assuming you haven't already forgotten your password).
  </div>
{% endblock content%}
