{% extends "blog/base.html" %}
{% block title %}Profile{% endblock title %}
{% block content %}

  <div class="card margin-bottom">
    <div class="header">
      <div class="heading">Your Profile</div>
      <div class="subheading">View and edit your details</div>
    </div>
    <div class="profile">
      <img class="profile-pic" src="{{ user.profile.profile_image.url }}" alt="profile_picture">
      <div class="username">{{ user.username }}</div>
      <div class="name">{{ user.first_name }} {{ user.last_name }}</div>
      <div class="email">{{ user.email }}</div>
    </div>
  </div>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="card profile-form margin-bottom">
      <legend>Update Profile</legend>
      {{ u_form.as_ul}}
      {{ p_form.as_ul }}
      <p>Profile pictures from <a href="https://drive.google.com/drive/folders/11opD0m2Qm1mQwuGzxOyl2GvtCIEh_b0o?usp=sharing" title="Recommended Profile Pictures">here</a> are recommended.</p>
      <button type="submit" name="profile_submit" class="button bottom invert-color right" title="Update Profile">Update <i class="fas fa-pen-alt"></i></button>
    </fieldset>
  </form>

  <fieldset class="card list-box margin-bottom">
    <legend>Your Posts</legend>
    {% for post in user.post_set.all reversed %}
      <div class="list-item user-post-title"><a href="{% url 'post-detail' pk=post.id slug=post.slug %}">{{ post.title }}</a></div>
    {% endfor %}
  </fieldset>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="card">
      <legend>Site Settings</legend>
      {{ s_form.as_ul }}
      <button type="submit" name="settings_submit" class="button bottom invert-color right" title="Update Site Settings">Update <i class="fas fa-pen-alt"></i></button>
    </fieldset>
  </form>

{% endblock content%}
