{% extends "blog/base.html" %}
{% block title %}Register{% endblock title %}
{% block content %}
  <form method="POST">
    {% csrf_token %}
    <fieldset class="card margin-bottom">
      <legend>New User Registration</legend>
      {{ form.as_ul }}
      <button type="submit" name="button" class="button bottom invert-color right" title="Sign Up">Sign Up <i class="fas fa-user-plus"></i></button>
    </fieldset>
  </form>
  <a href="{% url 'login'%}">Already have an account?</a>
{% endblock content%}
